@model DomainProduct.Entities.Category
@{
  ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;
  Layout = "~/Views/Shared/Base/_LayoutBreadCrumbLeftSideBar.cshtml";
  var returnUrl = HttpContext.Current.Request.Url.AbsolutePath;

   string PathLogo = "/assets/image/logo/logo.png";

    Uri Url = System.Web.HttpContext.Current.Request.Url;

    string UrlLogoStore = Url.Scheme + "://" + Url.Host + PathLogo;

    string UrlLogo = String.IsNullOrEmpty(Model.Image) ? UrlLogoStore : Url.Scheme + ":" + Model.Image;
}

@section CustomSeo {
    @{
        if (!String.IsNullOrEmpty(Model.MetaDescription))
        {
            <meta name="Description" content="@Model.MetaDescription">
            <meta property="og:description" content="@Model.MetaDescription">
            <meta name="twitter:description" content="@Model.MetaDescription">
        }
        <meta property="og:type" content="website">
<meta property="og:url" content="@HttpUtility.HtmlEncode(Request.Url)">
        <meta name="twitter:url" content="@HttpUtility.HtmlEncode(Request.Url)">
        <meta property="og:title" content="@Html.Raw(ViewBag.Title)">
        <meta name="twitter:title" content="@Html.Raw(ViewBag.Title)">
        <meta property="og:image" content="@UrlLogo">
    }
}
@{
  string canonical = !Request.Url.AbsoluteUri.Contains("www") ? "https://www." + Request.Url.Host + Request.Path : "https://" + Request.Url.Host + Request.Path;
}
@section breadcrumbs {
  <div class="ui two column centered grid stackable middle aligned margin top bottom no breadcrumbs">
    <div class="row">
      <div class="container">
        <div class="column">
          @{
            string getCat = Request.Url.AbsolutePath.ToLower();            
            if(getCat == "/categoria/sapatos"){
                <h1>Sapatos Femininos da Moda</h1>
            }else{
                <h1>@(Model != null ? Model.Name : "")</h1>
            }
          }          
          <div class="ui breadcrumb text small">
              <a class="section" href="/">Home</a>
              @{
                  var index = 0;
                  foreach (var category in Model.RelatedCategories)
                  {
                      index++;
                      <i class="right angle icon divider"></i>
                      if (index == Model.RelatedCategories.Count)
                      {
                          <div class="active section">@(category != null ? category.Name : "")</div>
                      }
                      else
                      {
                          <div class="section">@(category != null ? category.Name : "")</div>
                      }
                  }
              }
          </div>
        </div>
      </div>
    </div>
  </div>
    <script type="application/ld+json">
  {
  "@@context": "https://schema.org",
  "@@type": "BreadcrumbList",
  "itemListElement":
  [
    {
    "@@type": "ListItem",
    "position": 1,
    "item":
    {
      "@@id": "https://www.myahaas.com.br",
      "name": "Dresses"
      }
    },
    {
    "@@type": "ListItem",
    "position": 2,
    "item":
    {
      "@@id": "@canonical",
      "name": "@Model.Name"
    }
    }
  ]
  }
</script>
}
@section banner {
  @if (Model != null)
  {
    @Html.Action("bannerCategory", "banner", new {id = Model.IdCategory, type = 'F'})
  }
}

@section footerHalfbanner {
  @Html.Action("bannerCategory", "banner", new {id = Model.IdCategory, type = 'R'})
}

@section filters {
  <div class="three wide column filterColumn">
    <div class="row one column filterBlock" id="filterBlock">
      <!-- Page: ~/Views/Shared/Common/_FilterMenu.cshtml -->
      @if (LojaCorp.Control.Company._Company.ViewProductFiltersUrl)
      {
        @Html.Action("filterMenuNew", "product", new {category = Model.IdCategory, brand = "", group = "", keyword = ""})
      }
      else
      {
        @Html.Action("filterMenu", "product")
      }
    </div>
    <div class="row">
      <!-- Page: ~/Views/Shared/Blocks/Banner/_SideHalfBanner.cshtml -->
      @Html.Action("sideHalfBannerCategory", "banner", new {categoryId = Model.IdCategory})
    </div>
  </div>
}
<div class="twelve wide column category">
    <div class="ui grid">
        <div class="row one column">
            <div class="column right aligned right floated">
                <button class="ui mobile only left floated icon button basic filterbutton right labeled small" data-tooltip="Filtros" data-inverted="">                    
                    Filtros
<svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.813477 2.715H3.45348V0H4.53348V2.715H7.17348V3.795H4.53348V6.495H3.45348V3.795H0.813477V2.715Z" fill="#BBBBBB"/></svg>
                </button>
                <!--
                <div class="ui dropdown button basic dropdownitens small">
                    <span class="text">@(Request.QueryString["pageSize"] != null ? Request.QueryString["pageSize"] : "Itens")</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="12">
                            12
                        </div>
                        <div class="item" data-value="18">
                            18
                        </div>
                        <div class="item" data-value="24">
                            24
                        </div>
                        <div class="item" data-value="30">
                            30
                        </div>
                    </div>
                </div>
                -->
                <div class="ui dropdown button basic dropdownorder small">
                    <span class="text">Ordenar por</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="lancamentos">
                            <i class="asterisk icon"></i>
                            Lançamentos
                        </div>
                        <div class="item" data-value="maior_preco">
                            <i class="sort numeric descending icon"></i>
                            Maior Preço
                        </div>
                        <div class="item" data-value="mais_vendidos">
                            <i class="diamond icon"></i>
                            Mais Vendidos
                        </div>
                        <div class="item" data-value="menor_preco">
                            <i class="sort numeric ascending icon"></i>
                            Menor Preço
                        </div>
                        <div class="item" data-value="nome_a_z">
                            <i class="sort alphabet ascending icon"></i>
                            Nome [A-Z]
                        </div>
                        <div class="item" data-value="nome_z_a">
                            <i class="sort alphabet descending icon"></i>
                            Nome [Z-A]
                        </div>


                    </div>
                </div>
                <button id="viewgrid" class="ui icon button basic small viewgrid mobile hide" data-tooltip="Grid" data-inverted="">
                    <i class="grid layout icon"></i>
                </button>
                <button id="viewlist" class="ui icon button basic small viewlist mobile hide" data-tooltip="Lista" data-inverted="">
                    <i class="list layout icon"></i>
                </button>
            </div>
        </div>
    </div>

    <div id="list">
        <!-- ~/Views/Shared/Blocks/Product/_ProductsCategoryList.cshtml -->
        <!-- ~/Views/Shared/Blocks/Product/_ProductsCategoryGrid.cshtml -->
        @if (Model != null)
        {
            @Html.Action("getProductsCategory", "product", new
            {
                category = Model.IdCategory,
                viewList = Request.QueryString["viewList"] ?? "",
                pageNumber = Request.QueryString["pageNumber"] ?? "",
                pageSize = LojaCorp.Control.Company._Company.QuantityItemsPage > 0 ? LojaCorp.Control.Company._Company.QuantityItemsPage : 12,
                order = Request.QueryString["order"] ?? "",
                brand = Request.QueryString["brand"] ?? "",
                group = Request.QueryString["group"] ?? "",
                initialPrice = Request.QueryString["initialPrice"] ?? "",
                finalPrice = Request.QueryString["finalPrice"] ?? "",
                variations = Request.QueryString["variations"] ?? "",
                idAttribute = Request.QueryString["idAttribute"] ?? "",
                idCategories = Request.QueryString["idCategories"] ?? ""
            })
        }
    </div>
    @{
      string getCatSeo = Request.Url.AbsolutePath.ToLower();
      //@getCatSeo;
      if(getCatSeo == "/categoria/sapatos/sandalia"){
        <!--CRO Copys-->
        <div class="ui grid">
            <div class="row one column">
                <div class="ui">
                    <div class="cro-category">
                        <div class="active title">
                            <h2> Como usar sandália?</h2>
                        </div>
                        <div class="active content">
                            <p>As sandálias são BFFs das fashionistas! A verdade sobre essas belezinhas é que elas são super
                                versáteis e combinam com qualquer estação. Além disso, a variedade de modelos facilita na hora
                                de montar aquele look estiloso que vai bombar no Instagram!</p>
                            <p>Por serem mais leves, as sandálias são ótimas para usar com calças jeans e alfaiataria. As saias
                                folgadinhas e os shortinhos de tecido também são combinações certeiras.</p>
                            <p>Ah, e elas funcionam tanto para o dia quanto para curtir a noite. Ou seja, ideais para quem quer
                                conforto no trabalho, sem abrir mão de estar bonita no happy hour.</p>
                            <p>O equilíbrio perfeito entre a sua versão casual e o lado mulher de negócios!</p>
                        </div>

                        <div class="active title">
                            <h2> Tipos de sandálias femininas </h2>
                        </div>
                        <div class="content">
                            <p>Existem sandálias para todos os estilos! As plataformas, rasteirinhas e anabelas tem o poder de
                                completar um look com perfeição. E, como já dissemos, ficam lindas em qualquer ocasião. </p>
                            <p>O salto anabela é atemporal e a pedida certa para quem quer ficar fashion sem abrir mão do
                                conforto. Esse modelo é aquele em que o salto começa na metade do pé, indo até o calcanhar e
                                mantendo a parte da frente no chão. </p>
                            <p>As anabelas podem ser combinadas com diversas peças, com preferências para macacões, saias e
                                vestidos. Se você está procurando uma coisa mais fresh, elas são perfeitas!</p>
                            <p>A estrutura das sandálias plataforma é parecida com a anabela, com a diferença que o salto é
                                plano. Elas podem ser baixas ou altas e se encaixam divinamente em looks casuais, unindo muito
                                estilo e comodidade.</p>
                            <p>Outro tipo muito famoso de sandálias são as rasteirinhas! Eternos sinônimos de charme, diversão e
                                refrescância. Shortinhos, calor e rasteirinha são o match perfeito! Mas claro, você pode usar e
                                abusar delas em qualquer uma das quatro estações.</p>
                        </div>

                        <div class="active title">
                            <h2>Qual a sandália certa para você?</h2>
                        </div>
                        <div class="content">
                            <p>A sandália certa é a que evoca a sua versão mais poderosa! Seja rasteira ou um belo saltão, o
                                importante é que você esteja bem e segura de si mesma. Opte pelos modelos que mais combinam com
                                a sua personalidade e que estão à altura da deusa que habita em você.</p>
                        </div>

                        <div class="active title">
                            <h2>Vantagens de comprar sandálias femininas na Mya </h2>
                        </div>
                        <div class="content">
                            <p>Na Mya você pode comprar sandálias femininas que são tendência! Atualizamos nosso catálogo todas
                                as semanas para trazer sempre o que está em alta no mundo da moda.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--CRO Copys--> 
      }else if(getCatSeo == "/categoria/sapatos/rasteira"){
        <!--CRO Copys-->
        <div class="ui grid">
            <div class="row one column">
                <div class="ui">
                    <div class="cro-category">
                        <div class="active title">
                            <h2> Como usar rasteirinha e ficar elegante?</h2>
                        </div>
                        <div class="active content">
                            <p>Eu sei, amyga… você talvez pense que não existe um look que fique elegante com rasteirinhas. Mas,
                                calma! Você vai entender que existem combinações lacradoras de looks com rasteirinhas.
                            </p>
                            <p>A verdade é que as rasteirinhas serão suas melhores amigas no verão e nos dias mais quentes.
                                Combinar um vestidinho mais leve, sem mangas, com uma rasteirinha flat ou um slide com fivelas
                                trabalhadas no strass é uma pedida totalmente comfy e fresquinha.
                            </p>
                            <p>Mas, não só de vestidinhos se vive uma amyga elegante, não é?
                            </p>
                            <p>As rasteirinhas, tanto as flats quanto as slide, ou mesmo as que tem uma pegada mais parecida com
                                chinelo, super combinam com shorts de alfaiataria e jeans. Até mesmo as sainhas e calças de
                                tecido mais finos dão match com as rasteirinhas.</p>
                            <p>Para deixar o look ainda mais interessante e elegante, basta acrescentar uma camisa feminina ou
                                tshirt mais delicada. Dependendo do evento que você for, os acessórios darão o toque final de
                                chiqueza na sua composição!
                            </p>
                        </div>

                        <div class="active title">
                            <h2>Qual melhor marca de rasteirinha?</h2>
                        </div>
                        <div class="content">
                            <p>É verdade que você pode encontrar rasteirinhas em qualquer lojinha da sua cidade. Mas as
                                melhores, com acabamento impecável e alto nível de qualidade, você só encontra na Mya Haas. </p>
                            <p>Amyga, se você quer uma rasteirinha que não arrebente no primeiro dia de uso, ou que dure mais de
                                um mês sem preocupações, precisa conhecer as opções que a Mya oferece!</p>

                        </div>

                        <div class="active title">
                            <h2>Vantagens de usar a rasteirinha em seus looks</h2>
                        </div>
                        <div class="content">
                            <p>Os seus looks podem mudar completamente apenas com o uso da rasteirinha ideal. Isso quer dizer
                                que, mesmo os looks mais despojados podem ter uma aparência mais fashion e moderna. </p>
                            <p>Isso porque as rasteirinhas são totalmente versáteis — combina tanto com uma composição mais
                                praiana e graciosa para curtir no nosso país tropical, quanto com aquela mais elegante, para um
                                encontro casual durante o dia no outback.
                            </p>
                            <p>E você não precisa escolher apenas um modelo!
                            </p>
                            <p>Eu recomendo que você tenha um modelo mais básico, de cor neutra, e um mais ousado, com detalhes
                                brilhantes e chamativos para destacar as composições mais sem graça.
                            </p>
                            <p>Outra vantagem incrível das rasteirinhas é que elas são atemporais. É isso mesmo, amyga, você não
                                precisa se preocupar se um dia elas cairão de moda e se tornarão ultrapassadas.
                            </p>
                  
                        </div>

                        <div class="active title">
                            <h2>Melhores modelos de rasteirinha</h2>
                        </div>
                        <div class="content">
                            <p>Vale lembrar que os melhores modelos de rasteirinha são aqueles que te deixam confortável e
                                maravilhosa.
                            </p>
                            <p>Algumas opções perfeitas são os flats com o charme dos enfeites quadrados, as rasteirinhas com
                                amarrações em tiras finas ou franzidas e as tradicionais (e românticas) rasteirinhas de pérolas!
                            </p>
                            <p>Se você é uma amyga mais ousada, que curte peças em couro e tem um estilo mais geek ou roqueiro,
                                as melhores opções são os slides de tiras, com fivelas trabalhadas.
                            </p>
                            <p>Ou ainda os modelos birken, de couro, com enfeites divertidos e excêntricos como correntes,
                                spikes e tachas, deixando o seu look muito mais interessante e único.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--CRO Copys-->  
      }
    }

</div>
<input type="hidden" name="CurrentPage" id="CurrentPage" value="category"/>
<input type="hidden" name="GenericPageFilter" id="GenericPageFilter" value="@Model.IdCategory"/>
<input type="hidden" name="infinityPage" id="infinityPage" value="@LojaCorp.Control.Company._Company.InfiniteScrolling.ToString()"/>
<input type="hidden" name="itensPage" id="itensPage" value="@LojaCorp.Control.Company._Company.QuantityItemsPage"/>
<input type="hidden" name="ViewProductFiltersUrl" id="ViewProductFiltersUrl" value="@LojaCorp.Control.Company._Company.ViewProductFiltersUrl.ToString()"/>
<script>
  fbq('track', 'ViewCategory');
</script>