@{
    ViewBag.Title = "Identificação";
    Layout = "~/Views/Shared/Base/_LayoutCheckout.cshtml";

    var _paypalCheckoutInCart = Session["PreOrderPayPalCheckoutInCart"] != null ? "true" : "false";
}
@section logo {
    <a href="/Home" title="@LojaCorp.Control.Company._Company.FantasyName">
        <img class="ui middle aligned image logo" src="~/assets/image/logo/logo.png" />
    </a>
}
@section steps{
    <div class="jet checkout jBreadCrumb ">
        <div class="jCrumb">
            <div class="jBullet">
                <div class="jButton">
                    <span>1</span>
                </div>
            </div>
            <h4>Identificação</h4>
        </div>
        <div class="jCrumb">
            <div class="jBullet">
                <div class="jButton">
                    <span>2</span>
                </div>
            </div>
            <h4>Pagamento</h4>
        </div>
        <div class="jCrumb">
            <div class="jBullet">
                <div class="jButton">
                    <span>3</span>
                </div>
            </div>
            <h4>Confirmação</h4>
        </div>
    </div>
}
 <div class="column sexteen wide mobile title-checkout">
    <h1 class="text color black">Finalizar Compra</h1>
 </div>
<div class="ui container no-p no-m">
    <div class="ui grid middle aligned center aligned">
        <div class="row">
            <div class="column">                
                <span class="text color grey regular text-checkout">Em apenas 3 passos você finaliza a compra de forma rápida e segura.</span>
            </div>
        </div>
        <div class="row">
            <div class="twelve wide computer sixteen wide tablet sixteen wide mobile column">
                <form action="" method="POST" id="identificationForm" class="ui large form jet checkout">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="email" id="email" value="" />
                    <input type="hidden" name="cpfCnpj" id="cpfCnpj" value="" />
                    <input type="hidden" name="payPalCheckoutInCart" id="payPalCheckoutInCart" value="@_paypalCheckoutInCart" />
                    <div class="ui segment">
                        <div class="ui grid very relaxed stackable">
                            <div class="row one column left aligned">
                                <div class="column">
                                    <div class="field required">
                                        <label for="">Digite seu E-mail, CPF ou CNPJ</label>
                                        <div class="ui left icon huge input">
                                            <i class="mail icon"></i>
                                            <input type="text" id="login" name="login" placeholder="E-mail, CPF ou CNPJ">
                                        </div>
                                    </div>
                                    <button type="submit" id="checkLogin" class="ui animated button large submit action right floated"
                                            tabindex="0">
                                        <div class="visible content">Continuar</div>
                                        <div class="hidden content">
                                            <i class="right arrow icon"></i>
                                        </div>
                                    </button>
                                </div>
                                @Html.Action("GetRecaptchaV3", "Company", new { Module = "FirstAccess" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="column nine wide computer sixteen wide tablet sixteen wide mobile">
                <div class="textSecurity">
                    <svg width="102" height="102" viewBox="0 0 102 102" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M41.4374 73.3125V60.5625C41.4374 59.2944 40.9336 58.0783 40.037 57.1816C39.1403 56.285 37.9242 55.7812 36.6561 55.7812C35.388 55.7812 34.1719 56.285 33.2753 57.1816C32.3786 58.0783 31.8749 59.2944 31.8749 60.5625V73.3125C30.6751 74.22 29.7568 75.4485 29.226 76.8561C28.6952 78.2636 28.5736 79.7926 28.8753 81.2663C29.1771 82.7401 29.8898 84.0983 30.9311 85.1839C31.9724 86.2696 33.2997 87.0383 34.7595 87.4013C35.3802 87.5569 36.0164 87.6424 36.6561 87.6562C38.3286 87.6562 39.9587 87.13 41.3155 86.1521C42.6723 85.1742 43.687 83.7941 44.2159 82.2074C44.7448 80.6208 44.7611 78.9079 44.2624 77.3115C43.7637 75.7151 42.7754 74.316 41.4374 73.3125ZM39.6205 83.4009C39.1095 83.8353 38.5128 84.1574 37.8692 84.3461C37.2257 84.5349 36.5496 84.5861 35.8849 84.4965C35.2202 84.4069 34.5818 84.1785 34.0112 83.826C33.4406 83.4736 32.9505 83.005 32.5728 82.4508C32.195 81.8966 31.9381 81.2691 31.8188 80.6092C31.6994 79.9492 31.7202 79.2715 31.8798 78.6201C32.0395 77.9686 32.3344 77.3581 32.7454 76.8281C33.1564 76.2981 33.6743 75.8605 34.2655 75.5438C34.5087 75.4033 34.7105 75.2011 34.8504 74.9577C34.9904 74.7142 35.0635 74.438 35.0624 74.1572V60.5625C35.0624 60.1398 35.2303 59.7344 35.5292 59.4355C35.828 59.1367 36.2334 58.9688 36.6561 58.9688C37.0788 58.9688 37.4842 59.1367 37.7831 59.4355C38.0819 59.7344 38.2499 60.1398 38.2499 60.5625V74.1891C38.2487 74.4699 38.3219 74.746 38.4618 74.9895C38.6017 75.233 38.8035 75.4352 39.0467 75.5756C39.7158 75.9674 40.2795 76.516 40.6894 77.1741C41.0992 77.8322 41.3429 78.5801 41.3993 79.3534C41.4558 80.1266 41.3234 80.902 41.0135 81.6127C40.7036 82.3234 40.2255 82.948 39.6205 83.4328V83.4009Z" fill="#21BA45"></path>
<path d="M97.5694 60.5625L92.2941 59.3991C89.6567 58.7943 87.1682 57.6641 84.9775 56.0758C82.7869 54.4876 80.9389 52.474 79.5441 50.1553C79.4029 49.9175 79.2024 49.7205 78.9621 49.5836C78.7218 49.4468 78.45 49.3748 78.1734 49.3748C77.8969 49.3748 77.6251 49.4468 77.3848 49.5836C77.1445 49.7205 76.9439 49.9175 76.8028 50.1553C74.8262 53.4217 71.956 56.0541 68.5312 57.7416V51C68.5304 49.4502 68.0777 47.9342 67.2285 46.6377C66.3793 45.3413 65.1704 44.3206 63.75 43.7006V28.6875C63.75 21.5018 60.8955 14.6104 55.8144 9.52933C50.7334 4.44826 43.842 1.59375 36.6562 1.59375C29.4705 1.59375 22.5791 4.44826 17.4981 9.52933C12.417 14.6104 9.5625 21.5018 9.5625 28.6875V43.7006C8.14205 44.3206 6.9332 45.3413 6.08399 46.6377C5.23477 47.9342 4.78205 49.4502 4.78125 51V55.7812H3.1875C2.76481 55.7812 2.35943 55.9492 2.06055 56.248C1.76166 56.5469 1.59375 56.9523 1.59375 57.375V86.0625C1.59375 86.4852 1.76166 86.8906 2.06055 87.1895C2.35943 87.4883 2.76481 87.6562 3.1875 87.6562H4.78125V92.4375C4.78125 94.5509 5.62081 96.5778 7.11524 98.0723C8.60967 99.5667 10.6366 100.406 12.75 100.406H60.5625C62.6759 100.406 64.7028 99.5667 66.1973 98.0723C67.6917 96.5778 68.5312 94.5509 68.5312 92.4375V92.2303C70.7171 94.79 73.1754 97.104 75.8625 99.1312L77.1375 100.088C77.4134 100.294 77.7489 100.406 78.0938 100.406C78.4386 100.406 78.7741 100.294 79.05 100.088L80.325 99.1312C86.0515 94.8133 90.7006 89.2282 93.908 82.8134C97.1154 76.3985 98.7941 69.3282 98.8125 62.1562C98.8215 61.7878 98.7026 61.4277 98.4759 61.1371C98.2492 60.8465 97.9289 60.6435 97.5694 60.5625ZM12.75 28.6875C12.75 22.3472 15.2687 16.2665 19.752 11.7832C24.2353 7.29994 30.3159 4.78125 36.6562 4.78125C42.9966 4.78125 49.0772 7.29994 53.5605 11.7832C58.0438 16.2665 60.5625 22.3472 60.5625 28.6875V43.0312H54.1875V28.6875C54.1875 24.0379 52.3405 19.5788 49.0527 16.291C45.765 13.0033 41.3058 11.1562 36.6562 11.1562C32.0067 11.1562 27.5475 13.0033 24.2598 16.291C20.972 19.5788 19.125 24.0379 19.125 28.6875V43.0312H12.75V28.6875ZM51 43.0312H22.3125V28.6875C22.3125 24.8833 23.8237 21.2349 26.5137 18.5449C29.2037 15.855 32.8521 14.3438 36.6562 14.3438C40.4604 14.3438 44.1088 15.855 46.7988 18.5449C49.4888 21.2349 51 24.8833 51 28.6875V43.0312ZM20.7188 58.9688V65.3438H4.78125V58.9688H20.7188ZM4.78125 84.4688V78.0938H20.7188V84.4688H4.78125ZM20.7188 74.9062H4.78125V68.5312H20.7188V74.9062ZM65.3438 92.4375C65.3438 93.7056 64.84 94.9217 63.9434 95.8184C63.0467 96.715 61.8306 97.2188 60.5625 97.2188H12.75C11.4819 97.2188 10.2658 96.715 9.36915 95.8184C8.47249 94.9217 7.96875 93.7056 7.96875 92.4375V87.6562H22.3125C22.7352 87.6562 23.1406 87.4883 23.4395 87.1895C23.7383 86.8906 23.9062 86.4852 23.9062 86.0625V57.375C23.9062 56.9523 23.7383 56.5469 23.4395 56.248C23.1406 55.9492 22.7352 55.7812 22.3125 55.7812H7.96875V51C7.96875 49.7319 8.47249 48.5158 9.36915 47.6191C10.2658 46.7225 11.4819 46.2188 12.75 46.2188H60.5625C61.8306 46.2188 63.0467 46.7225 63.9434 47.6191C64.84 48.5158 65.3438 49.7319 65.3438 51V58.9688C64.8656 59.1122 64.3875 59.2556 63.8934 59.3672L58.6181 60.5625C58.2586 60.6435 57.9383 60.8465 57.7116 61.1371C57.4849 61.4277 57.366 61.7878 57.375 62.1562C57.4009 71.3838 60.1752 80.3945 65.3438 88.0387V92.4375ZM78.4125 96.5812L78.0938 96.8203L77.775 96.5812C72.6121 92.6921 68.3862 87.6958 65.4075 81.9592C62.4289 76.2226 60.7734 69.8916 60.5625 63.4312L64.5628 62.5388C69.9603 61.3394 74.756 58.2609 78.0938 53.8528C81.4276 58.2577 86.217 61.3359 91.6087 62.5388L95.625 63.4312C95.4141 69.8916 93.7586 76.2226 90.78 81.9592C87.8013 87.6958 83.5754 92.6921 78.4125 96.5812Z" fill="#21BA45"></path>
<path d="M87.4811 64.4671L84.6443 63.0327L83.5605 65.1843C81.1005 63.7302 78.1809 63.2621 75.3896 63.8744C72.5983 64.4867 70.1426 66.1339 68.5171 68.4842C66.8916 70.8345 66.217 73.7135 66.6291 76.5413C67.0413 79.3691 68.5095 81.9357 70.7382 83.7243C72.9669 85.5129 75.7905 86.3907 78.6404 86.1809C81.4904 85.9711 84.155 84.6892 86.0977 82.5935C88.0404 80.4977 89.1169 77.7437 89.1104 74.8861C89.1039 72.0284 88.0149 69.2793 86.0627 67.1924L87.4811 64.4671ZM86.0627 74.9062C86.0808 76.6856 85.5086 78.4209 84.4357 79.8407C83.3627 81.2604 81.8495 82.2845 80.1326 82.7528C78.4158 83.2211 76.5922 83.1072 74.9469 82.4289C73.3017 81.7506 71.9277 80.5461 71.0397 79.0039C70.1518 77.4617 69.8 75.6687 70.0394 73.9053C70.2788 72.1419 71.0959 70.5076 72.3629 69.2579C73.6298 68.0082 75.2753 67.2137 77.0418 66.9986C78.8083 66.7835 80.5963 67.1599 82.1261 68.069L77.823 76.6752L74.6355 72.3562L72.0855 74.2687L76.8668 80.6437C77.0152 80.8416 77.2077 81.0023 77.429 81.1129C77.6503 81.2236 77.8943 81.2812 78.1418 81.2812H78.2852C78.5547 81.2554 78.8131 81.1614 79.0362 81.008C79.2593 80.8546 79.4396 80.647 79.5602 80.4046L84.6124 70.3002C85.5683 71.6447 86.0758 73.2565 86.0627 74.9062Z" fill="#21BA45"></path>
</svg>
                    <span>
                        Utilizamos seu e-mail para identificação e
                        facilitar o processo de compra.
                        Não se preocupe, a partir desse momento
                        todas as <strong>informações são criptografadas</strong>.
                    </span>
                    <div class="codeSymbol">*****</div>
                </div>
            </div>
        </div>
    </div>
</div>


@if (ViewBag.PolicyPrivacy)
{
    <div class="ui modal modal-policy">
        <div class="scrolling content">
            @Html.Raw(ViewBag.PolicyText)
        </div>
        <div class="actions padding top bottom no">
            <div class="ui grid two column stackable middle aligned">
                <div class="column eleven wide text left">
                    <div class="inline field">
                        <div class="ui checkbox check-policy-modal">
                            <input id="valida-modal" type="checkbox">
                            <label for="valida-modal">Declaro que li e aceito os termos da <strong>Política de Privacidade</strong>.</label>
                        </div>
                    </div>
                </div>
                <div class="column five wide"><div class="ui basic button deny action disabled" id="btn-payment-go">Continuar</div></div>
            </div>
        </div>
    </div>


}
