@model DomainProduct.Filters
<div class="column" id="filter">
    <div class="ui labels containerFilter">

    </div>
    <div class="four wide column filtros" id="filtros">
        <div class="ui grid one column">
            <div class="row">
                <div class="row filterbar">
                    <div class="eight wide column">
                        <h3>Filtros</h3>
                    </div>
                    <div class="eight wide column">
                        <a class="ui button black icon closeFiltros"><i class="remove icon"></i></a>
                    </div>
                </div>
                <div class="column">
                    <div class="ui accordion" id="filtroList">
                        
                        <div class="cro-sidebar">
                            <div class="active title">
                                <i class="dropdown icon"></i>
                                <h2> Como usar sandália?</h2> 
                            </div>
                            <div class="active content">
                                <p>As sandálias são BFFs das fashionistas! A verdade sobre essas belezinhas é que elas são super versáteis e combinam com qualquer estação.  Além disso, a variedade de modelos facilita na hora de montar aquele look estiloso que vai bombar no Instagram!</p>
                                <p>Por serem mais leves, as sandálias são ótimas para usar com calças jeans e alfaiataria. As saias folgadinhas e os shortinhos de tecido também são combinações certeiras.</p>
                                <p>Ah, e elas funcionam tanto para o dia quanto para curtir a noite. Ou seja, ideais para quem quer conforto no trabalho, sem abrir mão de estar bonita no happy hour.</p>
                                <p>O equilíbrio perfeito entre a sua versão casual e o lado mulher de negócios!</p>
                            </div>
                            
                            <div class="active title">
                                <i class="dropdown icon"></i>
                                <h2> Tipos de sandálias femininas </h2>
                            </div>
                            <div class="content">
                                <p>Existem sandálias para todos os estilos! As plataformas, rasteirinhas e anabelas tem o poder de completar um look com perfeição. E, como já dissemos, ficam lindas em qualquer ocasião. </p>
                                <p>O salto anabela é atemporal e a pedida certa para quem quer ficar fashion sem abrir mão do conforto. Esse modelo é aquele em que o salto começa na metade do pé, indo até o calcanhar e mantendo a parte da frente no chão. </p>
                                <p>As anabelas podem ser combinadas com diversas peças, com preferências para macacões, saias e vestidos. Se você está procurando uma coisa mais fresh, elas são perfeitas!</p>
                                <p>A estrutura das sandálias plataforma é parecida com a anabela, com a diferença que o salto é plano. Elas podem ser baixas ou altas e se encaixam divinamente em looks casuais, unindo muito estilo e comodidade.</p>
                                <p>Outro tipo muito famoso de sandálias são as rasteirinhas! Eternos sinônimos de charme, diversão e refrescância. Shortinhos, calor e rasteirinha são o match perfeito! Mas claro, você pode usar e abusar delas em qualquer uma das quatro estações.</p>
                            </div>

                            <div class="active title">
                                <i class="dropdown icon"></i>
                                <h2>Qual a sandália certa para você?</h2>
                            </div>
                            <div class="content">
                                <p>A sandália certa é a que evoca a sua versão mais poderosa! Seja rasteira ou um belo saltão, o importante é que você esteja bem e segura de si mesma. Opte pelos modelos que mais combinam com a sua personalidade e que estão à altura da deusa que habita em você.</p>                                
                            </div>

                            <div class="active title">
                                <i class="dropdown icon"></i>
                                <h2>Vantagens de comprar sandálias femininas na Mya </h2>
                            </div>
                            <div class="content">
                                <p>Na Mya você pode comprar sandálias femininas que são tendência! Atualizamos nosso catálogo todas as semanas para trazer sempre o que está em alta no mundo da moda.</p>
                            </div>

                        </div>

                        @{
                            string getCatFilter = Request.Url.AbsolutePath.ToLower();            
                            if(getCatFilter == "/grupo/lancamentos"){
                                <h2 class="filtroList">Sapatos Femininos, Bolsas e Acessórios: Lançamentos da Semana</h2>
                            }else if(getCatFilter == "/grupo/sale"){
                                <h2 class="filtroList">Calçados femininos bolsas e acessórios | Promoção MYA</h2>
                            }else if(getCatFilter == "/sapatos"){
                                <h2 class="filtroList">Sapatos femininos da moda: Vantagens de comprar aqui na Mya!</h2>
                            }else{
                                
                            }
                        } 

                        @if (Model.GroupingTypes != null && Model.GroupingTypes.Count() > 0)
                        {
                            <!-- Page: ~/Views/Shared/Blocks/Product/_GroupingTypesFilters.cshtml -->
                            @Html.Partial("~/Views/Shared/Blocks/Product/_GroupingTypesFilters.cshtml", Model.GroupingTypes)
                        }

                        @if (Model.References != null && Model.References.Count() > 0)
                        {
                            <!-- Page: ~/Views/Shared/Blocks/Product/_ReferencesFilters.cshtml -->
                            @Html.Partial("~/Views/Shared/Blocks/Product/_ReferencesFilters.cshtml", Model.References)
                        }

                        @if (Model.Brands != null && Model.Brands.Count() > 1)
                        {
                            <!-- Page: ~/Views/Shared/Blocks/Brand/_BrandsFilters.cshtml -->
                            @Html.Partial("~/Views/Shared/Blocks/Brand/_BrandsFilters.cshtml", Model.Brands)
                        }

                        @if (Model.Categories != null && Model.Categories.Count() > 1)
                        {
                            <!-- Page: ~/Views/Shared/Blocks/Category/_CategoriesFilters.cshtml -->
                            @Html.Partial("~/Views/Shared/Blocks/Category/_CategoriesFilters.cshtml", Model.Categories)
                        }

                        @if (Model.Attributes != null && Model.Attributes.Count() > 0)
                        {
                            <!-- Page: ~/Views/Shared/Blocks/Atribute/_AtributesFilters.cshtml -->
                            @Html.Partial("~/Views/Shared/Blocks/Atributes/_AtributesFilters.cshtml", Model.Attributes)
                        }

                        @Html.Partial("~/Views/Shared/Blocks/Product/_PriceFilters.cshtml")
                    </div>
                </div>
            </div>
                <!-- Page: ~/Views/Shared/Blocks/Group/_GroupList.cshtml -->
                @Html.Action("GroupList", "Group")
        </div>

    </div>
</div>