@{
    List<DomainSocialNetwork.Entities.SocialNetwork> redesSociais = Session["SocialNetworkLinks"] != null ? (List<DomainSocialNetwork.Entities.SocialNetwork>)Session["SocialNetworkLinks"] : new List<DomainSocialNetwork.Entities.SocialNetwork>();
}
<div class="footer-divider">
    <div class="ui container">
        <div class="line"></div>
        <svg width="31" height="19" viewBox="0 0 31 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M29.3882 9.73973C28.7766 10.2832 28.0067 10.6231 27.1878 10.7112C27.6596 10.1105 28.1844 9.55204 28.7559 9.04226C29.4135 8.46933 30.2735 8.76824 29.3882 9.73973ZM21.143 17.661C19.3151 17.0692 17.4015 16.7747 15.4775 16.7892C13.5535 16.7747 11.6399 17.0692 9.81204 17.661C8.81433 15.6835 7.53701 13.8552 6.0182 12.2307C7.31515 12.6279 8.65783 12.8622 10.0144 12.9282C11.1211 12.8808 12.1989 12.5649 13.1519 12.0087C14.105 11.4525 14.9038 10.6731 15.4775 9.73973C16.063 10.6546 16.867 11.4144 17.8193 11.9528C18.7716 12.4912 19.8432 12.7919 20.9406 12.8285C22.2972 12.7629 23.6399 12.5285 24.9368 12.1311C23.408 13.7937 22.1303 15.6646 21.143 17.6859V17.661ZM14.6428 3.73647C14.6428 1.54441 15.2499 0.846933 15.4269 0.846933C15.604 0.846933 16.211 1.54441 16.211 3.73647C16.1932 5.05443 15.9184 6.35675 15.4016 7.57258C14.8854 6.35656 14.6107 5.05436 14.5923 3.73647H14.6428ZM1.56676 9.73973C0.681532 8.74333 1.56676 8.46933 2.19907 9.04226C2.77062 9.55204 3.29537 10.1105 3.76719 10.7112C2.9483 10.6231 2.17838 10.2832 1.56676 9.73973ZM30.2988 7.87149C28.6042 6.92492 26.7578 9.26644 25.4932 11.1347C24.044 11.5388 22.5478 11.7565 21.0418 11.7823C20.0498 11.7467 19.0834 11.4626 18.2337 10.9571C17.3841 10.4515 16.6792 9.74107 16.1857 8.89279C16.9781 7.34419 17.4183 5.64408 17.4756 3.91084C17.4756 1.41986 16.7421 0 15.604 0C14.4658 0 13.7323 1.5195 13.7323 3.91084C13.7896 5.64408 14.2298 7.34419 15.0222 8.89279C14.523 9.75984 13.8037 10.4843 12.9346 10.9952C12.0656 11.5061 11.0768 11.7859 10.065 11.8072C8.55898 11.7815 7.06273 11.5638 5.61352 11.1596C4.3489 9.29135 2.50257 6.94983 0.807985 7.8964C-0.886595 8.84297 0.42862 10.5617 1.61736 11.2094C2.54683 11.6819 3.54508 12.0097 4.57654 12.1809C5.0557 12.65 5.50347 13.1493 5.91703 13.6755C7.19489 15.1828 8.25068 16.8599 9.05326 18.6574C9.08097 18.7249 9.12204 18.7863 9.17408 18.8379C9.22612 18.8896 9.28809 18.9305 9.35637 18.9584C9.42465 18.9862 9.49787 19.0003 9.57176 19C9.64565 18.9996 9.71873 18.9848 9.78674 18.9564C11.6218 18.281 13.5694 17.9515 15.5281 17.9849C17.4868 17.9515 19.4344 18.281 21.2694 18.9564C21.3374 18.9848 21.4105 18.9996 21.4844 19C21.5583 19.0003 21.6315 18.9862 21.6998 18.9584C21.7681 18.9305 21.83 18.8896 21.8821 18.8379C21.9341 18.7863 21.9752 18.7249 22.0029 18.6574C22.8055 16.8599 23.8613 15.1828 25.1391 13.6755C25.5509 13.1478 25.9988 12.6485 26.4796 12.1809C27.5104 12.007 28.5083 11.6794 29.4388 11.2094C30.6276 10.5617 31.8163 8.71842 30.2482 7.8964" fill="#E5E5E5"/>
        </svg>
        <div class="line"></div>
    </div>
</div>

<!-- Bloco política de privacidade-->
@Html.Action("GetPrivacyPolicyAlertText", "Company")

<div class="ui container fluid newsletter-bar">
    <div class="ui container">
        <div class="ui grid middle aligned">
            <div class="row stackable">
                <div class="column">
                    <div class="ui form">
                        <h2> Oi Amyga, vamos conversar mais sobre as tendências na moda?! Manda seu e-mail para continuarmos nosso papo :)</h2>                        
                        <div class="inline fields margin none">
                            <div class="field">
                                <div class="ui input">
                                    <input type="text" placeholder="seu@email.com.br" id="email_news">
                                </div>
                            </div>
                            <div class="field">
                                <button class="ui button red" id="btn_news">
                                    Ok
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{<!--
<div class="cards-footer">
    <div class="container">
        <div class="card-footer">
            <a href="/grupo/lancamentos">
                <div class="card-svg">
                    <svg width="30" height="23" viewBox="0 0 30 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.1766 17.7132C22.1766 17.7132 22.1581 17.7327 22.1246 17.7652C20.1987 16.9944 18.0493 17.5602 16.3681 16.052C14.669 14.5283 13.3862 12.1375 11.98 10.3286C10.4329 8.33704 8.83773 6.38339 7.21634 4.45258C6.06271 3.07989 5.00477 1.49104 3.52473 0.450585C3.31537 0.0396502 3.12593 -0.130844 2.7898 0.11154C2.63437 0.146513 2.51439 0.270862 2.46436 0.422412C2.27346 0.638566 2.04614 0.942638 1.76441 1.35357C-0.151344 4.15386 -0.446187 6.58546 0.585521 9.38623C1.61723 12.1865 1.39622 22.0611 1.39622 22.0611C1.39622 22.0611 1.83873 22.6503 2.28075 22.3555C2.72326 22.0611 1.69155 12.7019 2.50225 11.5963C2.50225 11.5963 5.96556 9.6801 8.91351 16.239C11.8615 22.7975 13.2614 22.9447 15.3248 22.9447C17.3887 22.9447 23.4313 23.0923 27.8525 22.2811C32.2732 21.4709 29.6201 19.85 22.1766 17.7132ZM15.4715 18.8183C12.8184 15.7232 6.4071 5.0379 4.78619 2.8273C4.75656 2.78747 4.72936 2.74716 4.70167 2.70733C5.57114 3.68269 6.34541 4.78483 7.13133 5.72036C9.08692 8.04851 10.9716 10.4364 12.8179 12.8515C13.9122 14.283 14.8555 15.881 16.2049 17.091C17.6889 18.4224 19.6299 17.9056 21.3698 18.4283C20.0515 19.4721 17.394 21.0619 15.4715 18.8183Z" fill="black"/>
                    </svg>
                </div>
                <div class="card-text">
                        <h2>Lançamentos da Semana</h2>
                        <h3>Confira os Lançamentos de Sapatos Femininos, Bolsas e Acessórios</h3>
                </div>
            </a>
        </div>
        <div class="card-footer">
            <a href="/grupo/best-sellers">
                <div class="card-svg">
                    <svg width="30" height="28" viewBox="0 0 30 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.0312 0.757812C20.4033 0.757812 18.9108 1.27367 17.5953 2.29109C16.3341 3.2665 15.4944 4.50887 15 5.41227C14.5056 4.50881 13.6659 3.2665 12.4047 2.29109C11.0892 1.27367 9.59666 0.757812 7.96875 0.757812C3.42586 0.757812 0 4.47365 0 9.40121C0 14.7247 4.274 18.3669 10.7443 23.8808C11.843 24.8172 13.0884 25.8785 14.3829 27.0105C14.5535 27.1599 14.7727 27.2422 15 27.2422C15.2273 27.2422 15.4465 27.1599 15.6171 27.0106C16.9117 25.8784 18.157 24.8171 19.2564 23.8802C25.726 18.3669 30 14.7247 30 9.40121C30 4.47365 26.5741 0.757812 22.0312 0.757812Z" fill="black"/>
                    </svg>
                </div>
                <div class="card-text">
                        <h2>Mais Vendidos</h2>
                        <h3>Calçados femininos, Bolsas e Acessórios</h3>
                </div>
            </a>
        </div>
        <div class="card-footer">
            <a href="/categoria/mya-bee-home">
                <div class="card-svg">
                    <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 3.85883C2.20688 0.812182 5.17687 -0.0183767 9.06891 1.34726C12.1908 2.44299 14.3494 4.65624 15.7509 7.58971C15.9961 8.10301 15.6834 9.45255 15.2878 9.62728C11.6386 11.2354 7.78922 12.2979 4.04531 10.2523C2.44594 9.37868 1.33359 7.59634 0 6.22644C0 5.43708 0 4.64819 0 3.85883Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M30 21.8527C29.8425 22.1027 29.6447 22.3361 29.5331 22.6061C27.9319 26.4842 27.0797 26.702 24.3877 23.5763C21.2677 19.952 19.9317 15.7892 21.1589 11.0085C24.4322 10.7344 27.3717 12.4831 28.965 15.5567C29.3156 16.232 29.6559 16.9124 30 17.591C30 19.0115 30 20.4321 30 21.8527Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.1677 11.037C18.2887 17.7075 20.4019 23.1416 25.7377 27.2011C21.9197 30.0408 18.45 29.5318 16.1494 25.5793C14.9817 23.5735 14.1863 21.3114 13.4564 19.0873C12.0666 14.8507 13.5277 12.7615 19.1677 11.037Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6842 17.2931C12.3609 21.3271 13.8403 24.8861 15.4097 28.6615C13.3223 28.1079 11.1577 27.5975 9.03375 26.9492C7.56797 26.5017 7.1325 25.3103 7.67719 23.9608C8.57156 21.7476 9.63141 19.6034 10.6842 17.2931Z" fill="black"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M24.2808 2.21807C24.2466 4.91336 22.0303 7.76681 19.9434 8.23559C19.4925 8.3374 18.7073 8.05139 18.4416 7.67826C17.0316 5.70319 17.8336 1.73555 19.9748 0.506286C20.752 0.060228 22.0542 -0.188845 22.7639 0.17482C23.573 0.588679 23.9873 1.78764 24.2808 2.21807Z" fill="black"/>
                    </svg>
                </div>
                <div class="card-text">
                        <h2>MYA: Linha Home</h2>
                        <h3>Sapatos Femininos, Bolsas e Acessórios</h3>
                </div>
            </a>
        </div>
        <div class="card-footer">
            <a href="javascript:;">
                <div class="card-svg">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29.8918 23.5454L28.1494 18.4745C28.9893 16.7576 29.4331 14.8481 29.4361 12.9269C29.4412 9.58627 28.1488 6.42765 25.7967 4.03292C23.4442 1.63772 20.3093 0.289413 16.9694 0.236502C13.5062 0.181776 10.251 1.49908 7.8037 3.94631C5.44389 6.30606 4.13503 9.41699 4.0936 12.7414C1.76777 14.4925 0.394979 17.2227 0.399491 20.1388C0.401659 21.5035 0.708808 22.86 1.29082 24.0867L0.0906424 27.5793C-0.115667 28.1797 0.0350368 28.8317 0.483983 29.2806C0.799921 29.5966 1.21646 29.7648 1.64484 29.7648C1.82508 29.7648 2.00742 29.7351 2.18526 29.6739L5.67798 28.4738C6.90464 29.0558 8.26115 29.3629 9.6258 29.3651C9.63072 29.3651 9.63541 29.3651 9.64033 29.3651C12.5999 29.365 15.3509 27.9568 17.0956 25.574C18.9113 25.5261 20.7077 25.0866 22.3318 24.2922L27.4027 26.0346C27.614 26.1072 27.8307 26.1426 28.0448 26.1426C28.5539 26.1426 29.0489 25.9427 29.4244 25.5671C29.9579 25.0336 30.1369 24.2589 29.8918 23.5454ZM9.64021 27.5794C9.6364 27.5794 9.63236 27.5794 9.62855 27.5794C8.4207 27.5776 7.22122 27.2798 6.16003 26.7183C5.94183 26.603 5.68565 26.583 5.45233 26.6632L1.8709 27.8938L3.10155 24.3124C3.1817 24.079 3.16178 23.8229 3.04635 23.6047C2.4849 22.5435 2.18713 21.3441 2.18526 20.1361C2.18227 18.1932 2.93807 16.3517 4.25977 14.9727C4.69149 17.6045 5.94581 20.0297 7.89007 21.9394C9.81998 23.835 12.2459 25.0419 14.8634 25.4365C13.4813 26.7987 11.6182 27.5794 9.64021 27.5794ZM28.1616 24.3044C28.1108 24.3552 28.0506 24.369 27.9828 24.3457L22.5542 22.4803C22.46 22.4479 22.3619 22.4319 22.2641 22.4319C22.1201 22.4319 21.9765 22.4667 21.8466 22.5355C20.2966 23.3555 18.5451 23.7904 16.7813 23.7931C16.7755 23.7931 16.7703 23.7931 16.7645 23.7931C10.8545 23.7931 5.97288 18.9922 5.87925 13.0837C5.83208 10.108 6.964 7.31136 9.0664 5.20895C11.1688 3.10655 13.9659 1.97504 16.9412 2.02192C22.8554 2.11572 27.6595 7.00638 27.6504 12.9241C27.6476 14.6879 27.2128 16.4394 26.3929 17.9893C26.2775 18.2074 26.2575 18.4636 26.3377 18.697L28.203 24.1256C28.2263 24.1935 28.2124 24.2537 28.1616 24.3044Z" fill="black"/>
                    <path d="M22.0835 8.17448H11.4452C10.9521 8.17448 10.5523 8.57426 10.5523 9.06733C10.5523 9.56046 10.9521 9.96019 11.4452 9.96019H22.0835C22.5766 9.96019 22.9763 9.5604 22.9763 9.06733C22.9763 8.57426 22.5766 8.17448 22.0835 8.17448Z" fill="black"/>
                    <path d="M22.0835 11.8467H11.4452C10.9521 11.8467 10.5523 12.2465 10.5523 12.7395C10.5523 13.2326 10.9521 13.6324 11.4452 13.6324H22.0835C22.5766 13.6324 22.9763 13.2326 22.9763 12.7395C22.9763 12.2465 22.5766 11.8467 22.0835 11.8467Z" fill="black"/>
                    <path d="M17.9884 15.5186H11.445C10.9519 15.5186 10.5522 15.9183 10.5522 16.4114C10.5522 16.9045 10.952 17.3043 11.445 17.3043H17.9883C18.4815 17.3043 18.8812 16.9045 18.8812 16.4114C18.8812 15.9183 18.4815 15.5186 17.9884 15.5186Z" fill="black"/>
                    </svg>
                </div>
                <div class="card-text">
                        <h2>Opiniões</h2>
                        <h3>Opiniões de Quem Compra Online :)</h3>
                </div>
            </a>
        </div>
    </div>
</div>
-->
}
<div class="ui container fluid vertical segment footer">
    <div class="ui container">
        <div class="ui four column stackable equal height grid">
            <div class="ten wide table six wide computer column">
                <div class="ui grid stackable">
                    <div class="row two column no padding listMobile">
                        @Html.Action("CustomPages", "Home")
                        <div class="column eight wide tablet sixteen wide computer margin top large mobile-hide hidden">
                            <h4 class="ui inverted header">Siga nos</h4>
                            <ul class="social-icons">
                                <li><a href="https://facebook.com/MyaHaas/">
                                    <img class="icon-social" src="/assets/image/facebook.svg" alt="https://facebook.com/MyaHaas/" title="https://facebook.com/MyaHaas/">
                                </a></li>
                                <li><a href="https://www.instagram.com/myahaas/">
                                    <img class="icon-social" src="/assets/image/instagram.svg" alt="https://www.instagram.com/myahaas/" title="https://www.instagram.com/myahaas/">
                                </a></li>
                                <li><a href="https://www.youtube.com/user/MyaHaas">
                                    <img class="icon-social" src="/assets/image/youtube.svg" alt="https://www.youtube.com/user/MyaHaas" title="https://www.youtube.com/user/MyaHaas">
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="six wide tablet five wide computer column">
                <div class="ui grid stackable">
                    <div class="row one column no padding listMobile">
                        @Html.Action("GetList", "EventList")
                        <div class="column">
                            <h4 class="ui header">Central de Relacionamento <i class="ui icon chevron right mobile only"></i></h4>
                            <div class="ui link list">
                                <p>Nosso Team Mya está à disposição para tirar suas dúvidas pelos canais abaixo:</p>
                                <div class="central-rel">
                                    <ul>
                                        <li><span>E-mail:</span><a href="mailto:contato@myahaas.com.br" title="contato@myahaas.com.br">contato@myahaas.com.br</a></li>
                                        <li><span>Whatsapp:</span><a href="https://api.whatsapp.com/send?phone=5511993006707" target="_blank">11 99300-6707</a></li>
                                        <li><span>Loja física:</span><a href="tel:1122682361">11 2268-2361</a></li>
                                         
                                    </ul>
                                </div>
                                <h5>SAC: @LojaCorp.Control.Company._Company.Phone1</h5>                                
                                <a href="https://api.whatsapp.com/send?phone=5511993006707" target="_blank" class="ui button text uppercase tireDuvidas margin top bottom medium">Tem dúvidas? Mande aqui!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sixteen wide mobile sixteen wide tablet five wide computer column left aligned">
                <div class="ui grid stackable">
                    <div class="row one column no padding">
                        <div class="column seven wide tablet sixteen wide computer margin bottom large">
                            <h4 class="ui header">FORMAS DE PAGAMENTO</h4>
                            @Html.Partial("~/Views/Shared/Common/_Payments_List.cshtml")
                        </div>
                        <div class="column seven wide tablet sixteen wide computer margin bottom large">
                            <h4 class="ui header">Lojas</h4>
                            <div class="lojas-footer">
                                <div class="lojas">
                                    <div class="infos">
                                        <h3>Unidade Anália Franco</h3>
                                        <h4>Praça Marechal Rodrigues Ribas Junior, 105<br>
                                            São Paulo / SP</h4>
                                        <a class="whatsapp" href="https://api.whatsapp.com/send?phone=11993008443"><svg fill="none" height="30" viewBox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg">
                                            <path clip-rule="evenodd" d="M9.66234 5.79834C9.61158 5.80341 9.56155 5.81416 9.51319 5.83038C7.99467 6.29675 6.91924 7.12152 6.33846 8.19546C5.75768 9.26939 5.68429 10.5282 5.93362 11.807C6.43228 14.3646 8.20183 17.1135 10.44 19.4029C12.6783 21.6923 15.3771 23.5248 17.9507 24.0585C19.2376 24.3253 20.5189 24.2547 21.6262 23.6749C22.7335 23.0951 23.6145 22.0139 24.1617 20.4682C24.2122 20.3233 24.2123 20.1656 24.1621 20.0206C24.1118 19.8756 24.0141 19.7518 23.8847 19.6692L19.0267 16.6223L19.0161 16.6118C18.9922 16.596 18.9672 16.5818 18.9415 16.5692C18.8701 16.5229 18.7906 16.4903 18.7071 16.4733C18.7 16.4732 18.6929 16.4732 18.6858 16.4733C18.6682 16.4691 18.6505 16.4655 18.6326 16.4627C18.629 16.4627 18.6255 16.4627 18.6219 16.4627C18.5082 16.4561 18.3947 16.4781 18.2917 16.5266C18.2543 16.5447 18.2186 16.5661 18.1851 16.5906C18.163 16.6036 18.1417 16.6178 18.1212 16.6332C18.1138 16.6437 18.1067 16.6544 18.0999 16.6652C18.0731 16.6881 18.0482 16.7131 18.0253 16.7398L16.96 17.8158C15.0284 16.8435 13.5431 15.2135 12.2085 13.0111L13.1886 12.0416C13.2074 12.0249 13.2251 12.0071 13.2419 11.9884C13.2567 11.9748 13.271 11.9606 13.2845 11.9457C13.2845 11.9422 13.2845 11.9387 13.2845 11.9352C13.2993 11.9216 13.3136 11.9074 13.3271 11.8926C13.3272 11.889 13.3272 11.8855 13.3271 11.882C13.3345 11.8715 13.3416 11.8608 13.3484 11.85C13.3557 11.8431 13.3628 11.836 13.3697 11.8288C13.3776 11.8114 13.3847 11.7936 13.3911 11.7755C13.3911 11.772 13.3911 11.7685 13.3911 11.765C13.3947 11.758 13.3983 11.7509 13.4017 11.7438C13.4093 11.7299 13.4164 11.7157 13.423 11.7012C13.4273 11.6836 13.4308 11.6659 13.4337 11.648C13.4337 11.6444 13.4337 11.6409 13.4337 11.6374C13.4382 11.6163 13.4418 11.5949 13.4443 11.5735C13.4444 11.57 13.4444 11.5664 13.4443 11.5629C13.445 11.5452 13.445 11.5274 13.4443 11.5096C13.4444 11.5061 13.4444 11.5026 13.4443 11.4991C13.445 11.4813 13.445 11.4635 13.4443 11.4458C13.4444 11.4388 13.4444 11.4317 13.4443 11.4247C13.4415 11.4068 13.4379 11.389 13.4337 11.3714C13.4337 11.3679 13.4337 11.3643 13.4337 11.3608C13.4231 11.3205 13.4088 11.2813 13.3911 11.2436C13.3911 11.2401 13.3911 11.2366 13.3911 11.2331C13.3789 11.2037 13.3646 11.1752 13.3484 11.1478L13.3378 11.1267C13.3343 11.1231 13.3307 11.1196 13.3271 11.1162L10.2909 6.13032C10.232 6.03236 10.1494 5.95075 10.0508 5.89304C9.95211 5.83532 9.84052 5.80336 9.72626 5.80005C9.70497 5.79905 9.68364 5.79905 9.66234 5.80005V5.79834ZM9.41731 7.30046L11.8996 11.4021L10.8662 12.4248C10.761 12.531 10.6936 12.6687 10.6743 12.8169C10.6551 12.9652 10.685 13.1156 10.7596 13.2451C12.3366 15.976 14.2051 18.1006 16.8215 19.2537C16.9469 19.3094 17.0861 19.3259 17.2211 19.3012C17.356 19.2765 17.4804 19.2117 17.5779 19.1152L18.6752 18.0179L22.6809 20.5214C22.2373 21.5197 21.6591 22.114 20.9976 22.4604C20.2315 22.8616 19.2957 22.9375 18.2277 22.7161C16.0919 22.2732 13.512 20.5945 11.4095 18.444C9.30707 16.2935 7.68008 13.6785 7.26531 11.5512C7.05792 10.4876 7.14954 9.57148 7.5423 8.84523C7.88048 8.2199 8.45491 7.68453 9.41731 7.30046Z" fill="black" fill-rule="evenodd"></path>
                                            <path clip-rule="evenodd" d="M15 0C6.72579 0 0 6.72232 0 15C0 18.008 0.89136 20.8195 2.46298 23.2314L0.785483 28.8294C0.7495 28.9495 0.747365 29.0773 0.779314 29.1986C0.811263 29.3199 0.876058 29.43 0.966567 29.5169C1.05708 29.6037 1.16979 29.664 1.29231 29.6909C1.41483 29.7178 1.5424 29.7104 1.66098 29.6695L7.14028 27.7785C9.42182 29.1867 12.1198 30 15 30C23.2774 30 30 23.2774 30 15C30 6.72252 23.2774 0 15 0V0ZM15 1.36344C22.5408 1.36344 28.6365 7.45913 28.6365 15C28.6365 22.5408 22.5408 28.6366 15 28.6366C12.2664 28.6366 9.72404 27.8348 7.59827 26.4555C7.51136 26.3991 7.41274 26.3632 7.3099 26.3506C7.20706 26.3381 7.10271 26.3491 7.00477 26.3829L2.47342 27.9467L3.86093 23.3162C3.89005 23.219 3.89711 23.1165 3.88159 23.0162C3.86607 22.9159 3.82837 22.8204 3.77122 22.7365C2.23077 20.4763 1.36343 17.8437 1.36343 15C1.36343 7.45933 7.46272 1.36344 15 1.36344V1.36344Z" fill="black" fill-rule="evenodd"></path>
                                        </svg> (11) 99300-8443 </a> 
                                        <a class="phone" href="tel:1122682361"> <svg fill="none" height="25" viewBox="0 0 24 25" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path clip-rule="evenodd" d="M5.03751 0.79834C4.97133 0.804948 4.90611 0.818959 4.84306 0.840115C2.86336 1.44812 1.46131 2.52337 0.70415 3.92347C-0.0530139 5.32356 -0.148685 6.96463 0.17637 8.6318C0.826471 11.9661 3.13344 15.5499 6.0514 18.5346C8.96936 21.5194 12.4879 23.9083 15.8431 24.6041C17.5207 24.952 19.1912 24.86 20.6348 24.1041C22.0784 23.3482 23.227 21.9386 23.9404 19.9235C24.0062 19.7346 24.0064 19.529 23.9408 19.3399C23.8753 19.1509 23.7479 18.9895 23.5793 18.8819L17.2459 14.9096L17.232 14.8959C17.2008 14.8753 17.1683 14.8568 17.1348 14.8403C17.0416 14.7799 16.938 14.7375 16.8292 14.7153C16.82 14.7152 16.8107 14.7152 16.8015 14.7153C16.7785 14.7098 16.7553 14.7052 16.732 14.7015C16.7274 14.7015 16.7228 14.7015 16.7181 14.7015C16.5699 14.6929 16.4219 14.7216 16.2876 14.7849C16.2388 14.8083 16.1923 14.8362 16.1487 14.8682C16.1199 14.8851 16.0921 14.9037 16.0653 14.9237C16.0557 14.9374 16.0464 14.9514 16.0376 14.9655C16.0027 14.9954 15.9702 15.0279 15.9403 15.0627L14.5514 16.4656C12.0333 15.198 10.0969 13.0729 8.35697 10.2016L9.63475 8.93771C9.65916 8.91586 9.68235 8.89269 9.7042 8.86829C9.72353 8.8506 9.74206 8.83206 9.75975 8.81273C9.75979 8.80814 9.75979 8.80355 9.75975 8.79895C9.77908 8.78126 9.79762 8.76273 9.81531 8.7434C9.81535 8.73881 9.81535 8.73421 9.81531 8.72962C9.82496 8.71596 9.83422 8.70203 9.84309 8.68784C9.85255 8.67886 9.86181 8.66967 9.87087 8.66028C9.8811 8.63753 9.89036 8.61437 9.89864 8.59084C9.89868 8.58624 9.89868 8.58165 9.89864 8.57706C9.90343 8.56795 9.90806 8.55876 9.91253 8.54949C9.92244 8.53131 9.9317 8.51278 9.94031 8.49394C9.94586 8.47099 9.95049 8.44784 9.9542 8.42452C9.95423 8.41993 9.95423 8.41533 9.9542 8.41074C9.96015 8.3832 9.96478 8.35539 9.96809 8.32741C9.96812 8.32281 9.96812 8.31822 9.96809 8.31363C9.96899 8.29048 9.96899 8.2673 9.96809 8.24415C9.96812 8.23956 9.96812 8.23497 9.96809 8.23037C9.96899 8.20724 9.96899 8.18409 9.96809 8.16096C9.96823 8.15177 9.96823 8.14258 9.96809 8.1334C9.96438 8.11006 9.95975 8.08689 9.9542 8.06392C9.95423 8.05933 9.95423 8.05474 9.9542 8.05014C9.94038 7.99763 9.92179 7.94651 9.89864 7.89739C9.89868 7.8928 9.89868 7.8882 9.89864 7.88361C9.88274 7.84532 9.86417 7.8082 9.84309 7.7725L9.8292 7.74494C9.82462 7.74029 9.81999 7.73573 9.81531 7.73119L5.85696 1.23115C5.78018 1.10343 5.67254 0.997034 5.54391 0.921794C5.41528 0.846555 5.2698 0.80488 5.12084 0.800564C5.09308 0.799261 5.06527 0.799261 5.03751 0.800564V0.79834ZM4.71806 2.75666L7.95419 8.10394L6.60696 9.43728C6.4698 9.57567 6.38191 9.75528 6.35682 9.94851C6.33172 10.1417 6.37081 10.3379 6.46807 10.5067C8.524 14.067 10.96 16.8368 14.3709 18.3401C14.5343 18.4127 14.7159 18.4343 14.8918 18.4021C15.0678 18.3699 15.2299 18.2854 15.357 18.1595L16.7876 16.729L22.0098 19.9929C21.4316 21.2943 20.6777 22.0692 19.8154 22.5207C18.8165 23.0437 17.5965 23.1428 16.2042 22.854C13.4197 22.2766 10.0563 20.0882 7.3153 17.2845C4.57434 14.4809 2.45323 11.0717 1.91249 8.29838C1.64212 6.91171 1.76156 5.71739 2.2736 4.77058C2.71449 3.95533 3.46338 3.25737 4.71806 2.75666Z" fill="black" fill-rule="evenodd"></path>
                                        </svg> (11) 2268-2361 </a>
                                    </div>

                                    <div class="infos">
                                        <h3>Unidade Moema</h3>    
                                        <h4>Av. Bem Te Vi, 43<br>
                                        São Paulo / SP</h4>
                                        <a class="whatsapp" href="https://api.whatsapp.com/send?phone=11993008364"><svg fill="none" height="30" viewBox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg">
                                            <path clip-rule="evenodd" d="M9.66234 5.79834C9.61158 5.80341 9.56155 5.81416 9.51319 5.83038C7.99467 6.29675 6.91924 7.12152 6.33846 8.19546C5.75768 9.26939 5.68429 10.5282 5.93362 11.807C6.43228 14.3646 8.20183 17.1135 10.44 19.4029C12.6783 21.6923 15.3771 23.5248 17.9507 24.0585C19.2376 24.3253 20.5189 24.2547 21.6262 23.6749C22.7335 23.0951 23.6145 22.0139 24.1617 20.4682C24.2122 20.3233 24.2123 20.1656 24.1621 20.0206C24.1118 19.8756 24.0141 19.7518 23.8847 19.6692L19.0267 16.6223L19.0161 16.6118C18.9922 16.596 18.9672 16.5818 18.9415 16.5692C18.8701 16.5229 18.7906 16.4903 18.7071 16.4733C18.7 16.4732 18.6929 16.4732 18.6858 16.4733C18.6682 16.4691 18.6505 16.4655 18.6326 16.4627C18.629 16.4627 18.6255 16.4627 18.6219 16.4627C18.5082 16.4561 18.3947 16.4781 18.2917 16.5266C18.2543 16.5447 18.2186 16.5661 18.1851 16.5906C18.163 16.6036 18.1417 16.6178 18.1212 16.6332C18.1138 16.6437 18.1067 16.6544 18.0999 16.6652C18.0731 16.6881 18.0482 16.7131 18.0253 16.7398L16.96 17.8158C15.0284 16.8435 13.5431 15.2135 12.2085 13.0111L13.1886 12.0416C13.2074 12.0249 13.2251 12.0071 13.2419 11.9884C13.2567 11.9748 13.271 11.9606 13.2845 11.9457C13.2845 11.9422 13.2845 11.9387 13.2845 11.9352C13.2993 11.9216 13.3136 11.9074 13.3271 11.8926C13.3272 11.889 13.3272 11.8855 13.3271 11.882C13.3345 11.8715 13.3416 11.8608 13.3484 11.85C13.3557 11.8431 13.3628 11.836 13.3697 11.8288C13.3776 11.8114 13.3847 11.7936 13.3911 11.7755C13.3911 11.772 13.3911 11.7685 13.3911 11.765C13.3947 11.758 13.3983 11.7509 13.4017 11.7438C13.4093 11.7299 13.4164 11.7157 13.423 11.7012C13.4273 11.6836 13.4308 11.6659 13.4337 11.648C13.4337 11.6444 13.4337 11.6409 13.4337 11.6374C13.4382 11.6163 13.4418 11.5949 13.4443 11.5735C13.4444 11.57 13.4444 11.5664 13.4443 11.5629C13.445 11.5452 13.445 11.5274 13.4443 11.5096C13.4444 11.5061 13.4444 11.5026 13.4443 11.4991C13.445 11.4813 13.445 11.4635 13.4443 11.4458C13.4444 11.4388 13.4444 11.4317 13.4443 11.4247C13.4415 11.4068 13.4379 11.389 13.4337 11.3714C13.4337 11.3679 13.4337 11.3643 13.4337 11.3608C13.4231 11.3205 13.4088 11.2813 13.3911 11.2436C13.3911 11.2401 13.3911 11.2366 13.3911 11.2331C13.3789 11.2037 13.3646 11.1752 13.3484 11.1478L13.3378 11.1267C13.3343 11.1231 13.3307 11.1196 13.3271 11.1162L10.2909 6.13032C10.232 6.03236 10.1494 5.95075 10.0508 5.89304C9.95211 5.83532 9.84052 5.80336 9.72626 5.80005C9.70497 5.79905 9.68364 5.79905 9.66234 5.80005V5.79834ZM9.41731 7.30046L11.8996 11.4021L10.8662 12.4248C10.761 12.531 10.6936 12.6687 10.6743 12.8169C10.6551 12.9652 10.685 13.1156 10.7596 13.2451C12.3366 15.976 14.2051 18.1006 16.8215 19.2537C16.9469 19.3094 17.0861 19.3259 17.2211 19.3012C17.356 19.2765 17.4804 19.2117 17.5779 19.1152L18.6752 18.0179L22.6809 20.5214C22.2373 21.5197 21.6591 22.114 20.9976 22.4604C20.2315 22.8616 19.2957 22.9375 18.2277 22.7161C16.0919 22.2732 13.512 20.5945 11.4095 18.444C9.30707 16.2935 7.68008 13.6785 7.26531 11.5512C7.05792 10.4876 7.14954 9.57148 7.5423 8.84523C7.88048 8.2199 8.45491 7.68453 9.41731 7.30046Z" fill="black" fill-rule="evenodd"></path>
                                            <path clip-rule="evenodd" d="M15 0C6.72579 0 0 6.72232 0 15C0 18.008 0.89136 20.8195 2.46298 23.2314L0.785483 28.8294C0.7495 28.9495 0.747365 29.0773 0.779314 29.1986C0.811263 29.3199 0.876058 29.43 0.966567 29.5169C1.05708 29.6037 1.16979 29.664 1.29231 29.6909C1.41483 29.7178 1.5424 29.7104 1.66098 29.6695L7.14028 27.7785C9.42182 29.1867 12.1198 30 15 30C23.2774 30 30 23.2774 30 15C30 6.72252 23.2774 0 15 0V0ZM15 1.36344C22.5408 1.36344 28.6365 7.45913 28.6365 15C28.6365 22.5408 22.5408 28.6366 15 28.6366C12.2664 28.6366 9.72404 27.8348 7.59827 26.4555C7.51136 26.3991 7.41274 26.3632 7.3099 26.3506C7.20706 26.3381 7.10271 26.3491 7.00477 26.3829L2.47342 27.9467L3.86093 23.3162C3.89005 23.219 3.89711 23.1165 3.88159 23.0162C3.86607 22.9159 3.82837 22.8204 3.77122 22.7365C2.23077 20.4763 1.36343 17.8437 1.36343 15C1.36343 7.45933 7.46272 1.36344 15 1.36344V1.36344Z" fill="black" fill-rule="evenodd"></path>
                                        </svg> (11) 99300-8364 </a>
                                        <a class="phone" href="tel:1129250719"> <svg fill="none" height="25" viewBox="0 0 24 25" width="24" xmlns="http://www.w3.org/2000/svg">
                                            <path clip-rule="evenodd" d="M5.03751 0.79834C4.97133 0.804948 4.90611 0.818959 4.84306 0.840115C2.86336 1.44812 1.46131 2.52337 0.70415 3.92347C-0.0530139 5.32356 -0.148685 6.96463 0.17637 8.6318C0.826471 11.9661 3.13344 15.5499 6.0514 18.5346C8.96936 21.5194 12.4879 23.9083 15.8431 24.6041C17.5207 24.952 19.1912 24.86 20.6348 24.1041C22.0784 23.3482 23.227 21.9386 23.9404 19.9235C24.0062 19.7346 24.0064 19.529 23.9408 19.3399C23.8753 19.1509 23.7479 18.9895 23.5793 18.8819L17.2459 14.9096L17.232 14.8959C17.2008 14.8753 17.1683 14.8568 17.1348 14.8403C17.0416 14.7799 16.938 14.7375 16.8292 14.7153C16.82 14.7152 16.8107 14.7152 16.8015 14.7153C16.7785 14.7098 16.7553 14.7052 16.732 14.7015C16.7274 14.7015 16.7228 14.7015 16.7181 14.7015C16.5699 14.6929 16.4219 14.7216 16.2876 14.7849C16.2388 14.8083 16.1923 14.8362 16.1487 14.8682C16.1199 14.8851 16.0921 14.9037 16.0653 14.9237C16.0557 14.9374 16.0464 14.9514 16.0376 14.9655C16.0027 14.9954 15.9702 15.0279 15.9403 15.0627L14.5514 16.4656C12.0333 15.198 10.0969 13.0729 8.35697 10.2016L9.63475 8.93771C9.65916 8.91586 9.68235 8.89269 9.7042 8.86829C9.72353 8.8506 9.74206 8.83206 9.75975 8.81273C9.75979 8.80814 9.75979 8.80355 9.75975 8.79895C9.77908 8.78126 9.79762 8.76273 9.81531 8.7434C9.81535 8.73881 9.81535 8.73421 9.81531 8.72962C9.82496 8.71596 9.83422 8.70203 9.84309 8.68784C9.85255 8.67886 9.86181 8.66967 9.87087 8.66028C9.8811 8.63753 9.89036 8.61437 9.89864 8.59084C9.89868 8.58624 9.89868 8.58165 9.89864 8.57706C9.90343 8.56795 9.90806 8.55876 9.91253 8.54949C9.92244 8.53131 9.9317 8.51278 9.94031 8.49394C9.94586 8.47099 9.95049 8.44784 9.9542 8.42452C9.95423 8.41993 9.95423 8.41533 9.9542 8.41074C9.96015 8.3832 9.96478 8.35539 9.96809 8.32741C9.96812 8.32281 9.96812 8.31822 9.96809 8.31363C9.96899 8.29048 9.96899 8.2673 9.96809 8.24415C9.96812 8.23956 9.96812 8.23497 9.96809 8.23037C9.96899 8.20724 9.96899 8.18409 9.96809 8.16096C9.96823 8.15177 9.96823 8.14258 9.96809 8.1334C9.96438 8.11006 9.95975 8.08689 9.9542 8.06392C9.95423 8.05933 9.95423 8.05474 9.9542 8.05014C9.94038 7.99763 9.92179 7.94651 9.89864 7.89739C9.89868 7.8928 9.89868 7.8882 9.89864 7.88361C9.88274 7.84532 9.86417 7.8082 9.84309 7.7725L9.8292 7.74494C9.82462 7.74029 9.81999 7.73573 9.81531 7.73119L5.85696 1.23115C5.78018 1.10343 5.67254 0.997034 5.54391 0.921794C5.41528 0.846555 5.2698 0.80488 5.12084 0.800564C5.09308 0.799261 5.06527 0.799261 5.03751 0.800564V0.79834ZM4.71806 2.75666L7.95419 8.10394L6.60696 9.43728C6.4698 9.57567 6.38191 9.75528 6.35682 9.94851C6.33172 10.1417 6.37081 10.3379 6.46807 10.5067C8.524 14.067 10.96 16.8368 14.3709 18.3401C14.5343 18.4127 14.7159 18.4343 14.8918 18.4021C15.0678 18.3699 15.2299 18.2854 15.357 18.1595L16.7876 16.729L22.0098 19.9929C21.4316 21.2943 20.6777 22.0692 19.8154 22.5207C18.8165 23.0437 17.5965 23.1428 16.2042 22.854C13.4197 22.2766 10.0563 20.0882 7.3153 17.2845C4.57434 14.4809 2.45323 11.0717 1.91249 8.29838C1.64212 6.91171 1.76156 5.71739 2.2736 4.77058C2.71449 3.95533 3.46338 3.25737 4.71806 2.75666Z" fill="black" fill-rule="evenodd"></path>
                                        </svg> (11) 2925-0719 </a>           
                                    </div>

                                    <div class="infos">
                                        <h3>Unidade Vila Nova Conceição</h3>   
                                        <h4>Rua Afonso Braz  618B<br>
                                        São Paulo / SP</h4>
                                        <a class="whatsapp" href="https://api.whatsapp.com/send?phone=11965726586"><svg fill="none" height="30" viewBox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg">
                                            <path clip-rule="evenodd" d="M9.66234 5.79834C9.61158 5.80341 9.56155 5.81416 9.51319 5.83038C7.99467 6.29675 6.91924 7.12152 6.33846 8.19546C5.75768 9.26939 5.68429 10.5282 5.93362 11.807C6.43228 14.3646 8.20183 17.1135 10.44 19.4029C12.6783 21.6923 15.3771 23.5248 17.9507 24.0585C19.2376 24.3253 20.5189 24.2547 21.6262 23.6749C22.7335 23.0951 23.6145 22.0139 24.1617 20.4682C24.2122 20.3233 24.2123 20.1656 24.1621 20.0206C24.1118 19.8756 24.0141 19.7518 23.8847 19.6692L19.0267 16.6223L19.0161 16.6118C18.9922 16.596 18.9672 16.5818 18.9415 16.5692C18.8701 16.5229 18.7906 16.4903 18.7071 16.4733C18.7 16.4732 18.6929 16.4732 18.6858 16.4733C18.6682 16.4691 18.6505 16.4655 18.6326 16.4627C18.629 16.4627 18.6255 16.4627 18.6219 16.4627C18.5082 16.4561 18.3947 16.4781 18.2917 16.5266C18.2543 16.5447 18.2186 16.5661 18.1851 16.5906C18.163 16.6036 18.1417 16.6178 18.1212 16.6332C18.1138 16.6437 18.1067 16.6544 18.0999 16.6652C18.0731 16.6881 18.0482 16.7131 18.0253 16.7398L16.96 17.8158C15.0284 16.8435 13.5431 15.2135 12.2085 13.0111L13.1886 12.0416C13.2074 12.0249 13.2251 12.0071 13.2419 11.9884C13.2567 11.9748 13.271 11.9606 13.2845 11.9457C13.2845 11.9422 13.2845 11.9387 13.2845 11.9352C13.2993 11.9216 13.3136 11.9074 13.3271 11.8926C13.3272 11.889 13.3272 11.8855 13.3271 11.882C13.3345 11.8715 13.3416 11.8608 13.3484 11.85C13.3557 11.8431 13.3628 11.836 13.3697 11.8288C13.3776 11.8114 13.3847 11.7936 13.3911 11.7755C13.3911 11.772 13.3911 11.7685 13.3911 11.765C13.3947 11.758 13.3983 11.7509 13.4017 11.7438C13.4093 11.7299 13.4164 11.7157 13.423 11.7012C13.4273 11.6836 13.4308 11.6659 13.4337 11.648C13.4337 11.6444 13.4337 11.6409 13.4337 11.6374C13.4382 11.6163 13.4418 11.5949 13.4443 11.5735C13.4444 11.57 13.4444 11.5664 13.4443 11.5629C13.445 11.5452 13.445 11.5274 13.4443 11.5096C13.4444 11.5061 13.4444 11.5026 13.4443 11.4991C13.445 11.4813 13.445 11.4635 13.4443 11.4458C13.4444 11.4388 13.4444 11.4317 13.4443 11.4247C13.4415 11.4068 13.4379 11.389 13.4337 11.3714C13.4337 11.3679 13.4337 11.3643 13.4337 11.3608C13.4231 11.3205 13.4088 11.2813 13.3911 11.2436C13.3911 11.2401 13.3911 11.2366 13.3911 11.2331C13.3789 11.2037 13.3646 11.1752 13.3484 11.1478L13.3378 11.1267C13.3343 11.1231 13.3307 11.1196 13.3271 11.1162L10.2909 6.13032C10.232 6.03236 10.1494 5.95075 10.0508 5.89304C9.95211 5.83532 9.84052 5.80336 9.72626 5.80005C9.70497 5.79905 9.68364 5.79905 9.66234 5.80005V5.79834ZM9.41731 7.30046L11.8996 11.4021L10.8662 12.4248C10.761 12.531 10.6936 12.6687 10.6743 12.8169C10.6551 12.9652 10.685 13.1156 10.7596 13.2451C12.3366 15.976 14.2051 18.1006 16.8215 19.2537C16.9469 19.3094 17.0861 19.3259 17.2211 19.3012C17.356 19.2765 17.4804 19.2117 17.5779 19.1152L18.6752 18.0179L22.6809 20.5214C22.2373 21.5197 21.6591 22.114 20.9976 22.4604C20.2315 22.8616 19.2957 22.9375 18.2277 22.7161C16.0919 22.2732 13.512 20.5945 11.4095 18.444C9.30707 16.2935 7.68008 13.6785 7.26531 11.5512C7.05792 10.4876 7.14954 9.57148 7.5423 8.84523C7.88048 8.2199 8.45491 7.68453 9.41731 7.30046Z" fill="black" fill-rule="evenodd"></path>
                                            <path clip-rule="evenodd" d="M15 0C6.72579 0 0 6.72232 0 15C0 18.008 0.89136 20.8195 2.46298 23.2314L0.785483 28.8294C0.7495 28.9495 0.747365 29.0773 0.779314 29.1986C0.811263 29.3199 0.876058 29.43 0.966567 29.5169C1.05708 29.6037 1.16979 29.664 1.29231 29.6909C1.41483 29.7178 1.5424 29.7104 1.66098 29.6695L7.14028 27.7785C9.42182 29.1867 12.1198 30 15 30C23.2774 30 30 23.2774 30 15C30 6.72252 23.2774 0 15 0V0ZM15 1.36344C22.5408 1.36344 28.6365 7.45913 28.6365 15C28.6365 22.5408 22.5408 28.6366 15 28.6366C12.2664 28.6366 9.72404 27.8348 7.59827 26.4555C7.51136 26.3991 7.41274 26.3632 7.3099 26.3506C7.20706 26.3381 7.10271 26.3491 7.00477 26.3829L2.47342 27.9467L3.86093 23.3162C3.89005 23.219 3.89711 23.1165 3.88159 23.0162C3.86607 22.9159 3.82837 22.8204 3.77122 22.7365C2.23077 20.4763 1.36343 17.8437 1.36343 15C1.36343 7.45933 7.46272 1.36344 15 1.36344V1.36344Z" fill="black" fill-rule="evenodd"></path>
                                        </svg> (11) 96572-6586 </a>
                                    <a class="phone" href="tel:1129259892"><svg fill="none" height="25" viewbox="0 0 24 25" width="24"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path clip-rule="evenodd"
                                                d="M5.03751 0.79834C4.97133 0.804948 4.90611 0.818959 4.84306 0.840115C2.86336 1.44812 1.46131 2.52337 0.70415 3.92347C-0.0530139 5.32356 -0.148685 6.96463 0.17637 8.6318C0.826471 11.9661 3.13344 15.5499 6.0514 18.5346C8.96936 21.5194 12.4879 23.9083 15.8431 24.6041C17.5207 24.952 19.1912 24.86 20.6348 24.1041C22.0784 23.3482 23.227 21.9386 23.9404 19.9235C24.0062 19.7346 24.0064 19.529 23.9408 19.3399C23.8753 19.1509 23.7479 18.9895 23.5793 18.8819L17.2459 14.9096L17.232 14.8959C17.2008 14.8753 17.1683 14.8568 17.1348 14.8403C17.0416 14.7799 16.938 14.7375 16.8292 14.7153C16.82 14.7152 16.8107 14.7152 16.8015 14.7153C16.7785 14.7098 16.7553 14.7052 16.732 14.7015C16.7274 14.7015 16.7228 14.7015 16.7181 14.7015C16.5699 14.6929 16.4219 14.7216 16.2876 14.7849C16.2388 14.8083 16.1923 14.8362 16.1487 14.8682C16.1199 14.8851 16.0921 14.9037 16.0653 14.9237C16.0557 14.9374 16.0464 14.9514 16.0376 14.9655C16.0027 14.9954 15.9702 15.0279 15.9403 15.0627L14.5514 16.4656C12.0333 15.198 10.0969 13.0729 8.35697 10.2016L9.63475 8.93771C9.65916 8.91586 9.68235 8.89269 9.7042 8.86829C9.72353 8.8506 9.74206 8.83206 9.75975 8.81273C9.75979 8.80814 9.75979 8.80355 9.75975 8.79895C9.77908 8.78126 9.79762 8.76273 9.81531 8.7434C9.81535 8.73881 9.81535 8.73421 9.81531 8.72962C9.82496 8.71596 9.83422 8.70203 9.84309 8.68784C9.85255 8.67886 9.86181 8.66967 9.87087 8.66028C9.8811 8.63753 9.89036 8.61437 9.89864 8.59084C9.89868 8.58624 9.89868 8.58165 9.89864 8.57706C9.90343 8.56795 9.90806 8.55876 9.91253 8.54949C9.92244 8.53131 9.9317 8.51278 9.94031 8.49394C9.94586 8.47099 9.95049 8.44784 9.9542 8.42452C9.95423 8.41993 9.95423 8.41533 9.9542 8.41074C9.96015 8.3832 9.96478 8.35539 9.96809 8.32741C9.96812 8.32281 9.96812 8.31822 9.96809 8.31363C9.96899 8.29048 9.96899 8.2673 9.96809 8.24415C9.96812 8.23956 9.96812 8.23497 9.96809 8.23037C9.96899 8.20724 9.96899 8.18409 9.96809 8.16096C9.96823 8.15177 9.96823 8.14258 9.96809 8.1334C9.96438 8.11006 9.95975 8.08689 9.9542 8.06392C9.95423 8.05933 9.95423 8.05474 9.9542 8.05014C9.94038 7.99763 9.92179 7.94651 9.89864 7.89739C9.89868 7.8928 9.89868 7.8882 9.89864 7.88361C9.88274 7.84532 9.86417 7.8082 9.84309 7.7725L9.8292 7.74494C9.82462 7.74029 9.81999 7.73573 9.81531 7.73119L5.85696 1.23115C5.78018 1.10343 5.67254 0.997034 5.54391 0.921794C5.41528 0.846555 5.2698 0.80488 5.12084 0.800564C5.09308 0.799261 5.06527 0.799261 5.03751 0.800564V0.79834ZM4.71806 2.75666L7.95419 8.10394L6.60696 9.43728C6.4698 9.57567 6.38191 9.75528 6.35682 9.94851C6.33172 10.1417 6.37081 10.3379 6.46807 10.5067C8.524 14.067 10.96 16.8368 14.3709 18.3401C14.5343 18.4127 14.7159 18.4343 14.8918 18.4021C15.0678 18.3699 15.2299 18.2854 15.357 18.1595L16.7876 16.729L22.0098 19.9929C21.4316 21.2943 20.6777 22.0692 19.8154 22.5207C18.8165 23.0437 17.5965 23.1428 16.2042 22.854C13.4197 22.2766 10.0563 20.0882 7.3153 17.2845C4.57434 14.4809 2.45323 11.0717 1.91249 8.29838C1.64212 6.91171 1.76156 5.71739 2.2736 4.77058C2.71449 3.95533 3.46338 3.25737 4.71806 2.75666Z"
                                                fill="black" fill-rule="evenodd"></path>
                                        </svg>(11) 2925-9892</a> 
                                    </div>
                                </div>


                                <div class="hora-funciona">
                                    Horario de funcionamento<br>
                                    Seg a Sáb: 10:00 - 20:00<br>
                                    Domingo e Feriados: 10:00 - 16:00
                                </div>
                            </div>
                        </div>
                        
                        <div class="column seven wide tablet sixteen wide computer middle aligned hidden">
                            <h4 class="ui header">SEGURANÇA</h4>
                            <div class="ui horizontal list selos">
                                @Html.Action("EBit", "Company")
                                @Html.Action("GetCompanySeal", "Company")
                                @*
                                    <div class="item">
                                        <img src="//assets.pagseguro.com.br/ps-integration-assets/banners/seguranca/seguranca_125x125.gif" alt="Banner PagSeguro" title="Compre com PagSeguro e fique sossegado">
                                    </div>
                                *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column eight wide tablet sixteen wide computer siga-nos">
            <h4 class="ui header">Siga nos</h4>
            <ul class="social-icons">
                <li><a href="https://facebook.com/MyaHaas/">
                    <img class="icon-social" src="/assets/image/facebook.svg" alt="https://facebook.com/MyaHaas/" title="https://facebook.com/MyaHaas/">
                </a></li>
                <li><a href="https://www.instagram.com/myahaas/">
                    <img class="icon-social" src="/assets/image/instagram.svg" alt="https://www.instagram.com/myahaas/" title="https://www.instagram.com/myahaas/">
                </a></li>
                <li><a href="https://www.youtube.com/user/MyaHaas">
                    <img class="icon-social" src="/assets/image/youtube.svg" alt="https://www.youtube.com/user/MyaHaas" title="https://www.youtube.com/user/MyaHaas">
                </a></li>
            </ul>
        </div>
        @{
        //<div class="row text center">
        //    <div class="ui divider"></div>
        //    @Html.Partial("Common/_JetLogo")
        //</div>
        }
    </div>
</div>

<div class="ui container fluid vertical security">
    <div class="ui container">
        <div class="ui column grid">
            <img class="icon-social" src="/assets/image/lets.png" alt="Segurança" title="Segurança">
        </div>
    </div>
</div>

<div class="ui container fluid vertical subFooter">
    <div class="ui container">
        <div class="ui column grid">
            <div class="row stackable">
                <div class="column text small textoEmpresa">
                    <p>MyaHaas | Sapatos Femininos, Bolsas e Acessórios</p>                                        
                    <address>
                        @LojaCorp.Control.Company._Company.ComplementText                        
                        @{
                            string complementAddress = LojaCorp.Control.Company._Company.Complement != "" ? " " + LojaCorp.Control.Company._Company.Complement + ", " : "";
                        }
                        @string.Format("{0}, {1}{2}", LojaCorp.Control.Company._Company.Address, complementAddress, LojaCorp.Control.Company._Company.Neighbourhood) |
                        @string.Format("{0}-{1}-{2}", LojaCorp.Control.Company._Company.CEP, LojaCorp.Control.Company._Company.City, LojaCorp.Control.Company._Company.State) |
                        CNPJ: @LojaCorp.Control.Company._Company.CNPJ
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui container fluid vertical assinatura">
    <div class="ui container">
        <div class="ui column grid">
            <div class="ass-footer">
                <div class="ass-one">
                    <p>Powered by</p>
                    <a href="http://pushecommerce.com.br/?utm_source=FromMya&utm_medium=FromMya&utm_id=FromMya" target="_blank">
                        <img class="logo-agencia" src="/assets/image/push_ass_branca.svg" alt="Push Ecommerce" title="Tenha uma Loja virtual ou Website rápidos com foco em resultados.">
                    </a>
               </div>
               <div class="ass-two">
                   <a href="https://www.jetecommerce.com.br/" target="_blank">
                      <img class="logo-agencia" src="/assets/image/jet-svg.svg" alt="Plataforma de ecommerce e loja virtual para vendas online - JET" title="Plataforma de ecommerce e loja virtual para vendas online - JET">
                    </a>                
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-block"></div>