
@{
  string _classSearch = Session["idEventList"] == null ? "search" : "filterListEventsProducts";
  string _classMiniCart = Session["idEventList"] == null && Session["EventList"] == null ? "mini-cart" : "mini-cart-list-event";
}
<div class="ui container fluid _header">
    <div class="ui container">
        <div class="ui middle aligned three column centered grid">
            <div class="row">
                <div class="ui four wide mobile only five wide tablet only">
                   @Html.Action("Menu", "Home")
                </div>
                <div class="ui center aligned ten wide mobile six wide tablet two wide computer column">
                    <a href="https://www.myahaas.com.br" title="Página Inicial" class="brand">
                        <img class="ui middle aligned image logo" src="/assets/image/logo/logo.svg" alt="@LojaCorp.Control.Company._Company.FantasyName" title="@LojaCorp.Control.Company._Company.FantasyName">
                    </a>
                </div>
                
                <div class="ui four wide computer column only desktop-menu">
                   @Html.Action("Menu", "Home")
                </div>
                
                <div class="ui center aligned three wide tablet four wide computer column searchcolumn">
                    <div class="ui category @_classSearch">
                        <div class="ui icon input fluid">
                            <input class="prompt" type="text" placeholder="Buscar...">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>

                <div class="ui center aligned four wide mobile two wide tablet two wide computer header-actions">
                @{
                    bool isb2b = Session["segment"] != null && Session["segment"].ToString() == "b2b" ? true : false;
                    DomainAssistedSale.Entities.Seller _assistedSale = (DomainAssistedSale.Entities.Seller)Session["Seller"];
                    bool isAssistedSale = _assistedSale != null ? true : false;

                    if (!isb2b && !isAssistedSale)
                    {

                            <div>
                               @if ((Session["UserAuthenticated"] == null || (Convert.ToBoolean(Session["Guest"]) == true)) && Session["Seller"] == null)
                        {
                            <div class="item">
                                <a href="/customer/login?UrlFrom=%2fcustomer" title="Área do Cliente" class="login-customer">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.0711 12.9289C15.9819 11.8398 14.6855 11.0335 13.2711 10.5454C14.786 9.50199 15.7812 7.75578 15.7812 5.78125C15.7812 2.59348 13.1878 0 10 0C6.81223 0 4.21875 2.59348 4.21875 5.78125C4.21875 7.75578 5.21402 9.50199 6.72898 10.5454C5.31453 11.0335 4.01813 11.8398 2.92895 12.9289C1.0402 14.8177 0 17.3289 0 20H1.5625C1.5625 15.3475 5.34754 11.5625 10 11.5625C14.6525 11.5625 18.4375 15.3475 18.4375 20H20C20 17.3289 18.9598 14.8177 17.0711 12.9289ZM10 10C7.67379 10 5.78125 8.1075 5.78125 5.78125C5.78125 3.455 7.67379 1.5625 10 1.5625C12.3262 1.5625 14.2188 3.455 14.2188 5.78125C14.2188 8.1075 12.3262 10 10 10Z" fill="black"/>
                                    </svg>
                                </a>
                            </div>
                        }
                        @if ((Session["UserAuthenticated"] != null) && (Convert.ToBoolean(Session["Guest"]) == false))
                        {
                            var userAuthenticated = (DomainCustomer.Entities.Customer)Session["UserAuthenticated"];

                            Char delimiter = ' ';
                            String[] nickName = userAuthenticated.Name.Split(delimiter);

                            <div class="ui inline item dropdown pointing top right">
                                <div class="text regular black">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M17.0711 12.9289C15.9819 11.8398 14.6855 11.0335 13.2711 10.5454C14.786 9.50199 15.7812 7.75578 15.7812 5.78125C15.7812 2.59348 13.1878 0 10 0C6.81223 0 4.21875 2.59348 4.21875 5.78125C4.21875 7.75578 5.21402 9.50199 6.72898 10.5454C5.31453 11.0335 4.01813 11.8398 2.92895 12.9289C1.0402 14.8177 0 17.3289 0 20H1.5625C1.5625 15.3475 5.34754 11.5625 10 11.5625C14.6525 11.5625 18.4375 15.3475 18.4375 20H20C20 17.3289 18.9598 14.8177 17.0711 12.9289ZM10 10C7.67379 10 5.78125 8.1075 5.78125 5.78125C5.78125 3.455 7.67379 1.5625 10 1.5625C12.3262 1.5625 14.2188 3.455 14.2188 5.78125C14.2188 8.1075 12.3262 10 10 10Z" fill="black"/>
                                    </svg>
                                    <span class="text">Olá <span id="userNameCommon">@nickName[0]</span></span>
                                </div>
                                <div class="menu">
                                    <a href="/customer" class="item" title="Minha Conta"><i class="options icon"></i>Minha Conta</a>
                                    <a href="/order" class="item" title="Meus Pedidos"><i class="shopping bag icon"></i>Meus Pedidos</a>
                                    <a href="/customer/logout" class="item" title="Sair"><i class="sign out icon"></i>Sair</a>
                                </div>
                            </div>
                        }
                        else if ((Session["Seller"] != null))
                        {
                            var userAuthenticated = (DomainAssistedSale.Entities.Seller)Session["Seller"];

                            Char delimiter = ' ';
                            String[] nickName = userAuthenticated.Name.Split(delimiter);

                            <div class="ui inline item dropdown pointing top right">
                                <div class="text regular black">
                                    <i class="rocket icon regular"></i>
                                    <span class="text">Olá <span title="@userAuthenticated.Name.ToString()" id="userNameCommon">@nickName[0]</span></span>
                                </div>
                                <div class="menu">
                                    <a href="/assistedsale" class="item" title="Minha Conta"><i class="options icon"></i>Meus Clientes</a>
                                    <a href="/assistedsale/logout" class="item" title="Sair"><i class="sign out icon"></i>Sair</a>
                                </div>
                            </div>
                        }
                        @if((Session["Seller"] == null)) {
                            @Html.Action("B2BIsActived", "Company", null)
                        }
                            </div>

                    }
                }
                    <div id="cartButton" class="ui labeled button cartbutton no margin bottom @_classMiniCart" tabindex="0" data-segment="@(Session["segment"] != null ? Session["segment"] : "b2c")">
                        <div class="cart-button " title="@(Session["idEventList"] == null && Session["EventList"] == null ? "Meu Carrinho" : "Minha Lista")">
                            <a class="total-itens" id="total_itens_card"></a>
                            <svg width="19" height="22" viewBox="0 0 19 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.9964 21.2769L17.328 5.35381C17.293 5.02046 17.0126 4.76735 16.6781 4.76735H13.5421V4.05081C13.5421 1.81728 11.7288 0 9.50008 0C7.2712 0 5.45784 1.81728 5.45784 4.05081V4.76735H2.32187C1.9874 4.76735 1.70703 5.02046 1.67203 5.35381L0.00354731 21.2769C-0.0157134 21.4614 0.0440785 21.6455 0.167849 21.7835C0.291788 21.9213 0.468317 22 0.653387 22H18.3464C18.5317 22 18.7082 21.9213 18.832 21.7835C18.9561 21.6455 19.0157 21.4614 18.9964 21.2769ZM6.76456 4.05081C6.76456 2.53935 7.99172 1.30954 9.50008 1.30954C11.0083 1.30954 12.2354 2.53935 12.2354 4.05081V4.76735H6.76456V4.05081ZM1.37893 20.6905L2.91024 6.07689H5.45784V7.51987C5.45784 7.88141 5.75044 8.17464 6.1112 8.17464C6.47196 8.17464 6.76456 7.88141 6.76456 7.51987V6.07689H12.2354V7.51987C12.2354 7.88141 12.528 8.17464 12.8888 8.17464C13.2496 8.17464 13.5421 7.88141 13.5421 7.51987V6.07689H16.0898L17.6211 20.6905H1.37893Z" fill="black"/>
                            </svg>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui container search-container">
    <div class="row">
            <div class="ui searchMobile mobile only">
                <div class="ui button icon centered hide mobile">
                    <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.7605 14.7764C9.51437 14.7773 11.2165 14.2108 12.5879 13.1696L19.5023 19.7544C19.6664 19.9112 19.8892 19.9996 20.1217 20C20.3542 20.0004 20.5774 19.9129 20.7421 19.7566C20.9068 19.6003 20.9996 19.3881 21 19.1667C21.0004 18.9453 20.9085 18.7328 20.7444 18.5759L13.8254 11.9922C14.9206 10.6832 15.5166 9.05887 15.5159 7.38516C15.5152 5.71146 14.9177 4.08758 13.8214 2.77943C12.7251 1.47129 11.1949 0.556414 9.48134 0.18461C7.76778 -0.187195 5.97243 0.00611002 4.38929 0.73287C2.80614 1.45963 1.52903 2.67678 0.767064 4.185C0.00510012 5.69322 -0.196554 7.40314 0.195123 9.03475C0.5868 10.6664 1.54859 12.123 2.92301 13.1661C4.29743 14.2092 6.00303 14.7769 7.7605 14.7764ZM3.51332 3.34899C4.35335 2.54894 5.42363 2.00409 6.58881 1.78334C7.754 1.56258 8.96176 1.67584 10.0594 2.10879C11.1569 2.54173 12.0951 3.27492 12.7551 4.21564C13.4152 5.15636 13.7675 6.26235 13.7675 7.39374C13.7675 8.52514 13.4152 9.63113 12.7551 10.5718C12.0951 11.5126 11.1569 12.2458 10.0594 12.6787C8.96176 13.1116 7.754 13.2249 6.58881 13.0041C5.42363 12.7834 4.35335 12.2385 3.51332 11.4385C2.9507 10.9099 2.50395 10.2802 2.19903 9.58585C1.89411 8.8915 1.73709 8.14637 1.73709 7.39374C1.73709 6.64111 1.89411 5.89598 2.19903 5.20163C2.50395 4.50728 2.9507 3.87754 3.51332 3.34899Z" fill="black"/>
                    </svg>
                </div>
                <div class="ui blocoBusca @_classSearch">
                    <div class="ui input fluid blocoBuscaContainer">
                        <input class="prompt" type="text" placeholder="Buscar...">
                        <div class="search">
                            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.7605 14.7764C9.51437 14.7773 11.2165 14.2108 12.5879 13.1696L19.5023 19.7544C19.6664 19.9112 19.8892 19.9996 20.1217 20C20.3542 20.0004 20.5774 19.9129 20.7421 19.7566C20.9068 19.6003 20.9996 19.3881 21 19.1667C21.0004 18.9453 20.9085 18.7328 20.7444 18.5759L13.8254 11.9922C14.9206 10.6832 15.5166 9.05887 15.5159 7.38517C15.5152 5.71146 14.9177 4.08758 13.8214 2.77943C12.7251 1.47129 11.1949 0.556414 9.48134 0.18461C7.76778 -0.187195 5.97243 0.00611001 4.38929 0.73287C2.80614 1.45963 1.52903 2.67678 0.767064 4.185C0.00510007 5.69322 -0.196554 7.40314 0.195123 9.03475C0.5868 10.6664 1.54859 12.123 2.92301 13.1661C4.29743 14.2092 6.00303 14.7769 7.7605 14.7764ZM3.51332 3.34899C4.35335 2.54894 5.42363 2.00409 6.58881 1.78334C7.754 1.56258 8.96176 1.67584 10.0594 2.10879C11.1569 2.54173 12.0951 3.27492 12.7551 4.21564C13.4152 5.15636 13.7675 6.26235 13.7675 7.39374C13.7675 8.52514 13.4152 9.63113 12.7551 10.5718C12.0951 11.5126 11.1569 12.2458 10.0594 12.6787C8.96176 13.1116 7.754 13.2249 6.58881 13.0041C5.42363 12.7834 4.35335 12.2385 3.51332 11.4385C2.9507 10.9099 2.50395 10.2802 2.19903 9.58585C1.89411 8.8915 1.73709 8.14637 1.73709 7.39374C1.73709 6.64111 1.89411 5.89598 2.19903 5.20163C2.50395 4.50728 2.9507 3.87754 3.51332 3.34899V3.34899Z" fill="black"/>
                            </svg>
                        </div>
                        <div class="close icon  disabled" id="closeResultsMobile">
                            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.7071 0.707031C1.31659 0.316406 0.683407 0.316406 0.292889 0.707031C-0.0976295 1.09766 -0.0976295 1.73096 0.292889 2.12109L4.0859 5.91406L0.707104 9.29297C0.316586 9.68359 0.316586 10.3164 0.707104 10.707C1.09762 11.0977 1.73079 11.0977 2.12132 10.707L5.50003 7.32812L8.77816 10.6064C9.1687 10.9971 9.80185 10.9971 10.1924 10.6064C10.5829 10.2163 10.5829 9.58301 10.1924 9.19238L6.91418 5.91406L10.6066 2.22168C10.9971 1.83154 10.9971 1.19824 10.6066 0.807617C10.2161 0.416992 9.58291 0.416992 9.19238 0.807617L5.50003 4.5L1.7071 0.707031Z" fill="#333333"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.7071 0.707031C1.31659 0.316406 0.683407 0.316406 0.292889 0.707031C-0.0976295 1.09766 -0.0976295 1.73096 0.292889 2.12109L4.0859 5.91406L0.707104 9.29297C0.316586 9.68359 0.316586 10.3164 0.707104 10.707C1.09762 11.0977 1.73079 11.0977 2.12132 10.707L5.50003 7.32812L8.77816 10.6064C9.1687 10.9971 9.80185 10.9971 10.1924 10.6064C10.5829 10.2163 10.5829 9.58301 10.1924 9.19238L6.91418 5.91406L10.6066 2.22168C10.9971 1.83154 10.9971 1.19824 10.6066 0.807617C10.2161 0.416992 9.58291 0.416992 9.19238 0.807617L5.50003 4.5L1.7071 0.707031Z" fill="#333333"/>
                            </svg>
                        </div>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
     </div>
</div>
